// Make sure the charset is set appropriately
@charset 'utf-8';
@import 'settings';

.alert-section {
  font-size: 1.1rem;
  text-align: center;
  p {
    margin: 0;
  }
  .notice {
    background-color: #faefb3;
    color: #6b450b;
    a, [class^="icon-"], [class*=" icon-"] {
      color: #6b450b;
      &:focus, &:hover {
        color: smart-scale(#6b450b, 20%, 20%) !important;
        text-decoration: none;
      }
    }
  }
  .alert {
    background-color: #ea6969;
    color: white;
    a, [class^="icon-"], [class*=" icon-"] {
      color: white;
      &:focus, &:hover {
        color: #ddd;
        text-decoration: none;
      }
    }
  }
  [class^="icon-"], [class*=" icon-"] {
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }
  #alert--icon {
    margin: auto;
  }
  a.close {
    display: none;
    &.close-alert-no-1 {
      display: block;
      text-decoration: none;
      font-size: 1.5rem;
    }
  }
}
.top-menu-alert-icon {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  a {
    font-size: 1.1rem;
    padding: 0.5rem 0.3rem 0.35rem !important;
    background-color: #e43434 !important;
    color: $almost-black !important;
  }
}
