// Make sure the charset is set appropriately
@charset 'utf-8';
@import 'settings';

.alert-section {
  font-size: 16px;
  text-align: center;
  p {
    margin: 0;
  }
  .notice {
    background-color: #faefb3;
    a {
      color: #9f6000;
    }
  }
  .alert {
    background-color: #ea6969;
  }
  [class^="icon-"], [class*=" icon-"] {
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }
}
