// Make sure the charset is set appropriately
@charset 'utf-8';

// This is your _settings.scss file where you can override foundation variables.
// http://foundation.zurb.com/sites/docs/sass.html#the-settings-file
@import 'settings';
@import 'foundation';
@include foundation-grid;

/*********************


*********************/
.above-faq {
  margin-bottom: -80px;
  margin-top: -60px;
  h3 {
    line-height: 29px;
  }
}

@media screen and (min-width: 780px) {
  .view-faq-view {
    .smaller {
      font-size: 89%;
      line-height: 20px;
    }
  }
}

.view-faq-view {
  min-height: 353px;
  margin-top: 80px;
  z-index: 10;
  position: relative;
  background-color: #fff;
  .view-content {
    height: 353px;
    position: absolute;
    width: 10000px;
  }
  .feature-more {
    left: auto;
    right: 0%;
    span {
      background: $limestone-yellow;
      color: $limestone-blue;
      cursor: pointer;
      display: block;
      font-size: 30px;
      letter-spacing: 0.01em;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      width: 45px;
    }
    span:hover {
      background: #fff;
      text-decoration: none;
    }
  }
  .feature-more span:before, .feature-previous span:before {
    left: -6px;
    position: relative;
  }
  .feature-previous {
    span {
      background: $limestone-yellow;
      color: $limestone-blue;
      cursor: pointer;
      display: block;
      font-size: 30px;
      letter-spacing: 0.01em;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      width: 45px;
    }
    span:before {
      left: -6px;
    }

  }
  .feature-previous, .feature-more {
    position: absolute;
    left: 0;
    padding: 0;
    top: -60px;
    width: 45px;
    z-index: 112;
    &:focus, &:hover {
      width: 120px;
      span {
        width: 120px;
        background: #fff !important;
        text-decoration: none;
        transition: all 200ms;
      }
    }
  }
  .feature-more {
    left: auto;
    right: 0%;
  }
  .details {
    h2 {
      color: #FFF;
      font-size: 29px;
      font-style: normal;
      line-height: 35px;
      margin: 0;
      padding: 10px 5px 12px 5px;
      text-transform: none;
      overflow: visible;
      text-align: left;
    }
    div {
      overflow: auto;
    }
    [class^="icon-"], [class*=" icon-"] {
      position: relative;
    }
    .esc-to-close {
      position: absolute;
      font-size: 18px;
      top: 4px;
      left: 35px;
      width: 120px;
    }
  }
}

.fl-left.faq {
  padding-right: 0;
  padding-bottom: 0;
}

.view-faq-view
.cell-answer {
  display: none;
}

.faq-column {
  float: left;
  height: 352px;
  padding: 1px 0 0 0;
  width: 385px;
}

.cell {
  cursor: pointer;
  margin: 0 0 1px 0;
  overflow: hidden;
  position: relative;
  width: 384px;
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  span {
    background: #000;
    bottom: -33px;
    color: #FFF;
    display: block;
    font-size: 15px;
    height: 33px;
    line-height: 33px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 384px;
    transition: bottom 0.3s ease-in-out;
    -moz-transition: bottom 0.3s ease-in-out;
    -webkit-transition: bottom 0.3s ease-in-out;
  }
  div {
    display: none;
  }
  blockquote {
    background: transparent;
    color: #FFF;
    text-shadow: black 2px 1px 2px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
    padding: 1.3rem 0.9rem;
  }
  p {
    font-family: futura-pt;
    font-size: 15px;
    line-height: 15px;
    margin: 0;
    padding: 15px;
    text-align: right;
  }
}

.cell:focus span, .cell:hover span {
  bottom: 0;
}

.cell:hover blockquote {
  color: #FFF;
}

.cell-full {
  height: 351px;
}

.cell-full blockquote {
  height: 266px;
}

/*.cell_full span { margin: 318px 0 0 0; }*/
.cell-half {
  height: 175px;
}

.cell-half blockquote {
  height: 90px;
}

/*.cell-half span { margin: 142px 0 0 0; }*/
.cell-quarter {
  height: 87px;
}

.cell-quarter blockquote {
  height: 20px;
}

.cell-quarter p {
  padding: 0 15px 0 0;
}

/*.cell-quarter span { margin: 54px 0 0 0; }*/
.details {
  height: 352px;
  padding: 13px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 112;
  a {
    color: #fff;
  }
  .wrap {
    height: 352px;
    margin: 0 auto;
    max-width: 840px;
    color: #fff;
    top: 0;
    bottom: 0;
    overflow: visible;
  }
  .close {
    color: #fff;
    float: right;
    height: 32px;
    width: 32px;
    font-size: 1.7em;
    text-decoration: none;
  }
  h2 {
    color: #FFF;
    font-size: 29px;
    font-style: normal;
    line-height: 35px;
    margin: 0;
    padding: 25px 0 20px 0;
    text-transform: none;
  }
  div {
    overflow: hidden;
    p, ul li {
      color: #EEE;
      color: rgba(255, 255, 255, 0.95);
      font-size: 17px;
      line-height: 24px;
      margin: 0 0 25px 0;
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  hr {
    margin: 0 0 20px 0;
  }
  .vote {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #FFF;
    float: right;
    font-size: 11px;
    height: 20px;
    line-height: 22px;
    margin: 0 0 0 12px;
    text-align: center;
    width: 20px;
  }
  .vote:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
  }
  label {
    color: #FFF;
    float: right;
    font-family: futura-pt;
    font-size: 14px;
    line-height: 20px;
  }
  .thanks {
    color: #FFF;
    float: right;
    font-family: futura-pt;
    font-size: 14px;
    line-height: 20px;
    margin-top: 50px;
  }
}

.cell-green {
  background-color: #5F7B2B;
  border-color: #5F7B2B;
}

.cell-blue {
  background-color: #415A8C;
  border-color: #415A8C;
}

.cell-red {
  background-color: #A84026;
  border-color: #A84026;
}

.cell-orange {
  background-color: #CA661D;
  border-color: #CA661D;
}

.cell-yellow {
  background-color: #FFCF01;
  border-color: #FFCF01;
}

.cell-gray {
  background-color: #666;
  border-color: #666;
}

.cell-purple {
  background-color: #5C4973;
  border-color: #5C4973;
}

.cell-black {
  background-color: #222222;
  border-color: #CCC;
}

.cell-green:hover {
  background-color: #47670D;
  border-color: #47670D;
}

.cell-blue:hover {
  background-color: #375286;
  border-color: #375286;
}

.cell-red:hover {
  background-color: #822D18;
  border-color: #822D18;
}

.cell-orange:hover {
  background-color: #DE6E1C;
  border-color: #DE6E1C;
}

.cell-yellow:hover {
  background-color: #deb400;
  border-color: #deb400;
}

.cell-gray:hover {
  background-color: #555;
  border-color: #555;
}

.cell-purple:hover {
  background-color: #503C69;
  border-color: #503C69;
}

.details.cell-green {
  background-color: #47670D;
}

.details.cell-blue {
  background-color: #375286;
}

.details.cell-red {
  background-color: #822D18;
}

.details.cell-orange {
  background-color: #DE6E1C;
}

.details.cell-yellow {
  background-color: #deb400;
}

.details.cell-gray {
  background-color: #555;
}

.details.cell-purple {
  background-color: #503C69;
}

@media screen and (max-width: 860px) {
  .view-faq-view {
    .details {
      .answer {
        padding: 0 0.7em;
      }
    }
    h2 {
      font-size: 29px;
      line-height: 24px;
      padding: 10px 5px 20px 5px;
    }
  }
}

@media screen and (max-width: 780px) {
  .view-faq-view {
    .details {
      h2 {
        font-size: 20px;
        padding-left: 1em;
        padding-right: 1em;
      }
      .answer {
        p {
          font-size: 15px;
          line-height: 21px;
          padding: 0 1em;
        }
        p.smaller {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .view-faq-view {
    .details {
      h2 {
        font-size: 16px;
        padding: 0 1em;
      }
      .answer {
        p {
          font-size: 12px;
          line-height: 15px;
          padding: 0 1em;
        }
      }
    }
  }
}
