// Make sure the charset is set appropriately
@charset 'utf-8';

// This is your _settings.scss file where you can override foundation variables.
// http://foundation.zurb.com/sites/docs/sass.html#the-settings-file
@import 'settings';
@import 'foundation';
@include foundation-grid;
.lc-slider {
  width: 100%;
  float: left;

  /*
  .views_slideshow_slide {
    width: 100% !important;
    height: 525px !important;
    float: left;
  }
  */
  footer {
    display: none;
  }
  .slideshow-controls {
    position: absolute;
    z-index: 3;
    right: 4%;
    bottom: 75px;
    width: 240px;

    &::before {
      content: "";
      position: absolute;
      left: -30px;
      top: 50%;
      margin-top: -14px;
      width: 16px;
      height: 28px;
      background: url(/themes/custom/limestone/images/lc-sprite.svg) no-repeat -483px -67px transparent;
      background-size: 723px;
    }

    &::after {
      background: url(/themes/custom/limestone/images/lc-sprite.svg) no-repeat -643px 0px transparent;
      background-size: 723px;
      content: "";
      position: absolute;
      bottom: -20px;
      width: 38px;
      height: 112px;
      margin-right: 279px;
      right: 0%;
    }

    .next-headline {
      background: none;
      border: none;
      text-align: left;
      padding: 0; //display: none
      font-family: "interstate-boldregular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      letter-spacing: 0;
      line-height: 1.3;
      font-weight: 900;
      text-transform: uppercase;
      color: white;
      cursor: pointer;
      text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
      outline: none;

      span {
        position: absolute;
        top: -25px;
        left: 0;
        content: "Next";
        color: #fbea65;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
        text-transform: uppercase;
        font-style: italic;
      }
    }
  }
}
.lc-slide,
.slide-cover-image {
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  letter-spacing: 0;
  height: 100%;

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;

    @media screen and (min-width: 64em) {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  .desktop-image {
    display: none;
    position: absolute;
    img {
      opacity: 0;
    }
  }

  .mobile-image {
    position: absolute;
    display: none;
    z-index: -1;
    //bottom: 0;
    width: 100%;

    img {
      opacity: 0;
    }
  }



  .lc-slide-container {
    position: relative;
    z-index: 1;
    color: white;
    padding: 0 0 40px 0;

    .content {
      z-index: 1;
      padding: 1em;
      p {
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.7);

        &.dark {
          color: white;
          text-shadow: none;
          display: inline-block;
          float: left;
          clear: both;
          padding: 5px 10px;

          @include breakpoint(smedium) {
            color: $dark-gray;
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }

      .lc-btn {
        float: left;
        clear: both;
        text-shadow: none;
      }
    }

    h3 {
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      font-size: $lead-font-size  * 1.7;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 0.85em;
      padding-right: 0;
      margin: 0;
      padding-left: 20px;
      padding-top: 13px;
      width: 120%;
      position: relative;
      top: 30px;

      &.dark {
        color: $dark-gray;
        text-shadow: none;
      }

      &.blue {
        color: $limestone-blue;
        text-shadow: none;
      }
    }

    .large-text {
      font-size: $lead-font-size;
    }
  }

  .lc-slant {
    margin: 0 0 10px 0;
    overflow: hidden;
    display: block;

    span {
      background-color: $limestone-yellow;
      transform: skewX(-25deg);
      display: block;
      height: 10px;
      width: 160px;
      margin: 20px 0 10px -30px;

      @include breakpoint(smedium) {
        margin: 25px 0 10px 5px;
      }
    }
  }

  #hashtag {
    display: inline-block;
    position: static;
    font-size: 15px;
    font-weight: 900;
    font-style: italic;
    margin-left: 2em;
    margin-bottom: 1em;
    position: absolute;
    top: 0px;
    opacity: 0.8;

    &:hover,
    &:focus {
      opacity: 1;
    }

    a {
      text-decoration: none;
      text-shadow: none;
      color: $limestone-yellow;
    }

    >span {
      background-color: rgba($limestone-blue, 0.9);
      -webkit-transform: skew(-15deg, 0);
      -ms-transform: skewX(-15deg) skewY(0);
      transform: skew(-15deg, 0);
      padding: 2px 18px 3px 17px;
      display: block;
      margin: 0 10px 0 -10px;

      span {
        -webkit-transform: skew(15deg, 0);
        -ms-transform: skewX(15deg) skewY(0);
        transform: skew(15deg, 0);
        display: block;
      }
    }
  }

  &:after {
    left: 0;
    opacity: 0.2;
    bottom: -31px;
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    content: "";
    background: url(/themes/custom/limestone/images/stripes-dark-tile.svg);
    opacity: 0.2;
  }
}

.slide-cover-image img {
  background-size: cover;
  background-position: bottom right; // Desktop changes  768px
  @include breakpoint(smedium) {
    background-position: 80% 0;
  }


  @media screen and (min-width: 64em) {
    background-position: bottom right;
  }
}

// Desktop changes  768px
@include breakpoint(smedium) {
  .lc-slide {
    .desktop-image {
      display: block;
      width: 100%;
    }

    .mobile-image {
      display: none;
    }

    .hero-container {
      .content {
        padding: 4em 1em 1em;
      }
    }

    #hashtag {
      position: absolute;
      top: 0;
      left: 0;
      color: $limestone-yellow;
      font-size: 21px;
      font-style: italic;
      overflow: hidden;
      margin: 0;
      padding: 0 0 0 1em;
    }
  }
}
