.paragraph.paragraph--color {
  display: table;
}
.paragraph.paragraph--color > .paragraph__column {
  padding-top: 0;
  padding-bottom: 0;
}
.paragraph.paragraph--color + .paragraph > .paragraph__column {
  padding-top: 0;
}
.vbp_color_01 {
  background-color: #0678be;
  color: #ffffff;
}
.vbp_color_01 a,
.vbp_color_01 h1,
.vbp_color_01 .h1,
.vbp_color_01 h2,
.vbp_color_01 .h2,
.vbp_color_01 h3,
.vbp_color_01 .h3,
.vbp_color_01 h4,
.vbp_color_01 .h4,
.vbp_color_01 h5,
.vbp_color_01 .h5,
.vbp_color_01 h6,
.vbp_color_01 .h6 {
  color: #ffffff;
}
.vbp_color_01 a:hover,
.vbp_color_01 h1:hover,
.vbp_color_01 .h1:hover,
.vbp_color_01 h2:hover,
.vbp_color_01 .h2:hover,
.vbp_color_01 h3:hover,
.vbp_color_01 .h3:hover,
.vbp_color_01 h4:hover,
.vbp_color_01 .h4:hover,
.vbp_color_01 h5:hover,
.vbp_color_01 .h5:hover,
.vbp_color_01 h6:hover,
.vbp_color_01 .h6:hover,
.vbp_color_01 a:focus,
.vbp_color_01 h1:focus,
.vbp_color_01 .h1:focus,
.vbp_color_01 h2:focus,
.vbp_color_01 .h2:focus,
.vbp_color_01 h3:focus,
.vbp_color_01 .h3:focus,
.vbp_color_01 h4:focus,
.vbp_color_01 .h4:focus,
.vbp_color_01 h5:focus,
.vbp_color_01 .h5:focus,
.vbp_color_01 h6:focus,
.vbp_color_01 .h6:focus,
.vbp_color_01 a:active,
.vbp_color_01 h1:active,
.vbp_color_01 .h1:active,
.vbp_color_01 h2:active,
.vbp_color_01 .h2:active,
.vbp_color_01 h3:active,
.vbp_color_01 .h3:active,
.vbp_color_01 h4:active,
.vbp_color_01 .h4:active,
.vbp_color_01 h5:active,
.vbp_color_01 .h5:active,
.vbp_color_01 h6:active,
.vbp_color_01 .h6:active,
.vbp_color_01 a.is-active,
.vbp_color_01 h1.is-active,
.vbp_color_01 .h1.is-active,
.vbp_color_01 h2.is-active,
.vbp_color_01 .h2.is-active,
.vbp_color_01 h3.is-active,
.vbp_color_01 .h3.is-active,
.vbp_color_01 h4.is-active,
.vbp_color_01 .h4.is-active,
.vbp_color_01 h5.is-active,
.vbp_color_01 .h5.is-active,
.vbp_color_01 h6.is-active,
.vbp_color_01 .h6.is-active {
  color: #ffffff;
}
.vbp_color_02 {
  background-color: #2c3e50;
  color: #ffffff;
}
.vbp_color_02 a,
.vbp_color_02 h1,
.vbp_color_02 .h1,
.vbp_color_02 h2,
.vbp_color_02 .h2,
.vbp_color_02 h3,
.vbp_color_02 .h3,
.vbp_color_02 h4,
.vbp_color_02 .h4,
.vbp_color_02 h5,
.vbp_color_02 .h5,
.vbp_color_02 h6,
.vbp_color_02 .h6 {
  color: #0038a5;
}
.vbp_color_02 a:hover,
.vbp_color_02 h1:hover,
.vbp_color_02 .h1:hover,
.vbp_color_02 h2:hover,
.vbp_color_02 .h2:hover,
.vbp_color_02 h3:hover,
.vbp_color_02 .h3:hover,
.vbp_color_02 h4:hover,
.vbp_color_02 .h4:hover,
.vbp_color_02 h5:hover,
.vbp_color_02 .h5:hover,
.vbp_color_02 h6:hover,
.vbp_color_02 .h6:hover,
.vbp_color_02 a:focus,
.vbp_color_02 h1:focus,
.vbp_color_02 .h1:focus,
.vbp_color_02 h2:focus,
.vbp_color_02 .h2:focus,
.vbp_color_02 h3:focus,
.vbp_color_02 .h3:focus,
.vbp_color_02 h4:focus,
.vbp_color_02 .h4:focus,
.vbp_color_02 h5:focus,
.vbp_color_02 .h5:focus,
.vbp_color_02 h6:focus,
.vbp_color_02 .h6:focus,
.vbp_color_02 a:active,
.vbp_color_02 h1:active,
.vbp_color_02 .h1:active,
.vbp_color_02 h2:active,
.vbp_color_02 .h2:active,
.vbp_color_02 h3:active,
.vbp_color_02 .h3:active,
.vbp_color_02 h4:active,
.vbp_color_02 .h4:active,
.vbp_color_02 h5:active,
.vbp_color_02 .h5:active,
.vbp_color_02 h6:active,
.vbp_color_02 .h6:active,
.vbp_color_02 a.is-active,
.vbp_color_02 h1.is-active,
.vbp_color_02 .h1.is-active,
.vbp_color_02 h2.is-active,
.vbp_color_02 .h2.is-active,
.vbp_color_02 h3.is-active,
.vbp_color_02 .h3.is-active,
.vbp_color_02 h4.is-active,
.vbp_color_02 .h4.is-active,
.vbp_color_02 h5.is-active,
.vbp_color_02 .h5.is-active,
.vbp_color_02 h6.is-active,
.vbp_color_02 .h6.is-active {
  color: #0038a5;
}
.vbp_color_03 {
  background-color: #a4a4a4;
  color: #ffffff;
}
.vbp_color_03 a,
.vbp_color_03 h1,
.vbp_color_03 .h1,
.vbp_color_03 h2,
.vbp_color_03 .h2,
.vbp_color_03 h3,
.vbp_color_03 .h3,
.vbp_color_03 h4,
.vbp_color_03 .h4,
.vbp_color_03 h5,
.vbp_color_03 .h5,
.vbp_color_03 h6,
.vbp_color_03 .h6 {
  color: #ffffff;
}
.vbp_color_03 a:hover,
.vbp_color_03 h1:hover,
.vbp_color_03 .h1:hover,
.vbp_color_03 h2:hover,
.vbp_color_03 .h2:hover,
.vbp_color_03 h3:hover,
.vbp_color_03 .h3:hover,
.vbp_color_03 h4:hover,
.vbp_color_03 .h4:hover,
.vbp_color_03 h5:hover,
.vbp_color_03 .h5:hover,
.vbp_color_03 h6:hover,
.vbp_color_03 .h6:hover,
.vbp_color_03 a:focus,
.vbp_color_03 h1:focus,
.vbp_color_03 .h1:focus,
.vbp_color_03 h2:focus,
.vbp_color_03 .h2:focus,
.vbp_color_03 h3:focus,
.vbp_color_03 .h3:focus,
.vbp_color_03 h4:focus,
.vbp_color_03 .h4:focus,
.vbp_color_03 h5:focus,
.vbp_color_03 .h5:focus,
.vbp_color_03 h6:focus,
.vbp_color_03 .h6:focus,
.vbp_color_03 a:active,
.vbp_color_03 h1:active,
.vbp_color_03 .h1:active,
.vbp_color_03 h2:active,
.vbp_color_03 .h2:active,
.vbp_color_03 h3:active,
.vbp_color_03 .h3:active,
.vbp_color_03 h4:active,
.vbp_color_03 .h4:active,
.vbp_color_03 h5:active,
.vbp_color_03 .h5:active,
.vbp_color_03 h6:active,
.vbp_color_03 .h6:active,
.vbp_color_03 a.is-active,
.vbp_color_03 h1.is-active,
.vbp_color_03 .h1.is-active,
.vbp_color_03 h2.is-active,
.vbp_color_03 .h2.is-active,
.vbp_color_03 h3.is-active,
.vbp_color_03 .h3.is-active,
.vbp_color_03 h4.is-active,
.vbp_color_03 .h4.is-active,
.vbp_color_03 h5.is-active,
.vbp_color_03 .h5.is-active,
.vbp_color_03 h6.is-active,
.vbp_color_03 .h6.is-active {
  color: #ffffff;
}
.vbp_color_04 {
  background-color: #d3d3d3;
  color: #000000;
}
.vbp_color_04 a,
.vbp_color_04 h1,
.vbp_color_04 .h1,
.vbp_color_04 h2,
.vbp_color_04 .h2,
.vbp_color_04 h3,
.vbp_color_04 .h3,
.vbp_color_04 h4,
.vbp_color_04 .h4,
.vbp_color_04 h5,
.vbp_color_04 .h5,
.vbp_color_04 h6,
.vbp_color_04 .h6 {
  color: #0038a5;
}
.vbp_color_04 a:hover,
.vbp_color_04 h1:hover,
.vbp_color_04 .h1:hover,
.vbp_color_04 h2:hover,
.vbp_color_04 .h2:hover,
.vbp_color_04 h3:hover,
.vbp_color_04 .h3:hover,
.vbp_color_04 h4:hover,
.vbp_color_04 .h4:hover,
.vbp_color_04 h5:hover,
.vbp_color_04 .h5:hover,
.vbp_color_04 h6:hover,
.vbp_color_04 .h6:hover,
.vbp_color_04 a:focus,
.vbp_color_04 h1:focus,
.vbp_color_04 .h1:focus,
.vbp_color_04 h2:focus,
.vbp_color_04 .h2:focus,
.vbp_color_04 h3:focus,
.vbp_color_04 .h3:focus,
.vbp_color_04 h4:focus,
.vbp_color_04 .h4:focus,
.vbp_color_04 h5:focus,
.vbp_color_04 .h5:focus,
.vbp_color_04 h6:focus,
.vbp_color_04 .h6:focus,
.vbp_color_04 a:active,
.vbp_color_04 h1:active,
.vbp_color_04 .h1:active,
.vbp_color_04 h2:active,
.vbp_color_04 .h2:active,
.vbp_color_04 h3:active,
.vbp_color_04 .h3:active,
.vbp_color_04 h4:active,
.vbp_color_04 .h4:active,
.vbp_color_04 h5:active,
.vbp_color_04 .h5:active,
.vbp_color_04 h6:active,
.vbp_color_04 .h6:active,
.vbp_color_04 a.is-active,
.vbp_color_04 h1.is-active,
.vbp_color_04 .h1.is-active,
.vbp_color_04 h2.is-active,
.vbp_color_04 .h2.is-active,
.vbp_color_04 h3.is-active,
.vbp_color_04 .h3.is-active,
.vbp_color_04 h4.is-active,
.vbp_color_04 .h4.is-active,
.vbp_color_04 h5.is-active,
.vbp_color_04 .h5.is-active,
.vbp_color_04 h6.is-active,
.vbp_color_04 .h6.is-active {
  color: #0038a5;
}
.vbp_color_05 {
  background-color: #cc3c2d;
  color: #ffffff;
}
.vbp_color_05 a,
.vbp_color_05 h1,
.vbp_color_05 .h1,
.vbp_color_05 h2,
.vbp_color_05 .h2,
.vbp_color_05 h3,
.vbp_color_05 .h3,
.vbp_color_05 h4,
.vbp_color_05 .h4,
.vbp_color_05 h5,
.vbp_color_05 .h5,
.vbp_color_05 h6,
.vbp_color_05 .h6 {
  color: #ffffff;
}
.vbp_color_05 a:hover,
.vbp_color_05 h1:hover,
.vbp_color_05 .h1:hover,
.vbp_color_05 h2:hover,
.vbp_color_05 .h2:hover,
.vbp_color_05 h3:hover,
.vbp_color_05 .h3:hover,
.vbp_color_05 h4:hover,
.vbp_color_05 .h4:hover,
.vbp_color_05 h5:hover,
.vbp_color_05 .h5:hover,
.vbp_color_05 h6:hover,
.vbp_color_05 .h6:hover,
.vbp_color_05 a:focus,
.vbp_color_05 h1:focus,
.vbp_color_05 .h1:focus,
.vbp_color_05 h2:focus,
.vbp_color_05 .h2:focus,
.vbp_color_05 h3:focus,
.vbp_color_05 .h3:focus,
.vbp_color_05 h4:focus,
.vbp_color_05 .h4:focus,
.vbp_color_05 h5:focus,
.vbp_color_05 .h5:focus,
.vbp_color_05 h6:focus,
.vbp_color_05 .h6:focus,
.vbp_color_05 a:active,
.vbp_color_05 h1:active,
.vbp_color_05 .h1:active,
.vbp_color_05 h2:active,
.vbp_color_05 .h2:active,
.vbp_color_05 h3:active,
.vbp_color_05 .h3:active,
.vbp_color_05 h4:active,
.vbp_color_05 .h4:active,
.vbp_color_05 h5:active,
.vbp_color_05 .h5:active,
.vbp_color_05 h6:active,
.vbp_color_05 .h6:active,
.vbp_color_05 a.is-active,
.vbp_color_05 h1.is-active,
.vbp_color_05 .h1.is-active,
.vbp_color_05 h2.is-active,
.vbp_color_05 .h2.is-active,
.vbp_color_05 h3.is-active,
.vbp_color_05 .h3.is-active,
.vbp_color_05 h4.is-active,
.vbp_color_05 .h4.is-active,
.vbp_color_05 h5.is-active,
.vbp_color_05 .h5.is-active,
.vbp_color_05 h6.is-active,
.vbp_color_05 .h6.is-active {
  color: #ffffff;
}
.bg-blue {
  background-color: #0038a5;
  color: #ffffff;
}
.bg-blue a,
.bg-blue h1,
.bg-blue .h1,
.bg-blue h2,
.bg-blue .h2,
.bg-blue h3,
.bg-blue .h3,
.bg-blue h4,
.bg-blue .h4,
.bg-blue h5,
.bg-blue .h5,
.bg-blue h6,
.bg-blue .h6 {
  color: #ffffff;
}
.bg-blue a:hover,
.bg-blue h1:hover,
.bg-blue .h1:hover,
.bg-blue h2:hover,
.bg-blue .h2:hover,
.bg-blue h3:hover,
.bg-blue .h3:hover,
.bg-blue h4:hover,
.bg-blue .h4:hover,
.bg-blue h5:hover,
.bg-blue .h5:hover,
.bg-blue h6:hover,
.bg-blue .h6:hover,
.bg-blue a:focus,
.bg-blue h1:focus,
.bg-blue .h1:focus,
.bg-blue h2:focus,
.bg-blue .h2:focus,
.bg-blue h3:focus,
.bg-blue .h3:focus,
.bg-blue h4:focus,
.bg-blue .h4:focus,
.bg-blue h5:focus,
.bg-blue .h5:focus,
.bg-blue h6:focus,
.bg-blue .h6:focus,
.bg-blue a:active,
.bg-blue h1:active,
.bg-blue .h1:active,
.bg-blue h2:active,
.bg-blue .h2:active,
.bg-blue h3:active,
.bg-blue .h3:active,
.bg-blue h4:active,
.bg-blue .h4:active,
.bg-blue h5:active,
.bg-blue .h5:active,
.bg-blue h6:active,
.bg-blue .h6:active,
.bg-blue a.is-active,
.bg-blue h1.is-active,
.bg-blue .h1.is-active,
.bg-blue h2.is-active,
.bg-blue .h2.is-active,
.bg-blue h3.is-active,
.bg-blue .h3.is-active,
.bg-blue h4.is-active,
.bg-blue .h4.is-active,
.bg-blue h5.is-active,
.bg-blue .h5.is-active,
.bg-blue h6.is-active,
.bg-blue .h6.is-active {
  color: #ffffff;
}
.bg-yellow {
  background-color: #fbea65;
  color: #2556a3;
}
.bg-yellow a,
.bg-yellow h1,
.bg-yellow .h1,
.bg-yellow h2,
.bg-yellow .h2,
.bg-yellow h3,
.bg-yellow .h3,
.bg-yellow h4,
.bg-yellow .h4,
.bg-yellow h5,
.bg-yellow .h5,
.bg-yellow h6,
.bg-yellow .h6 {
  color: #2556a3;
}
.bg-yellow a:hover,
.bg-yellow h1:hover,
.bg-yellow .h1:hover,
.bg-yellow h2:hover,
.bg-yellow .h2:hover,
.bg-yellow h3:hover,
.bg-yellow .h3:hover,
.bg-yellow h4:hover,
.bg-yellow .h4:hover,
.bg-yellow h5:hover,
.bg-yellow .h5:hover,
.bg-yellow h6:hover,
.bg-yellow .h6:hover,
.bg-yellow a:focus,
.bg-yellow h1:focus,
.bg-yellow .h1:focus,
.bg-yellow h2:focus,
.bg-yellow .h2:focus,
.bg-yellow h3:focus,
.bg-yellow .h3:focus,
.bg-yellow h4:focus,
.bg-yellow .h4:focus,
.bg-yellow h5:focus,
.bg-yellow .h5:focus,
.bg-yellow h6:focus,
.bg-yellow .h6:focus,
.bg-yellow a:active,
.bg-yellow h1:active,
.bg-yellow .h1:active,
.bg-yellow h2:active,
.bg-yellow .h2:active,
.bg-yellow h3:active,
.bg-yellow .h3:active,
.bg-yellow h4:active,
.bg-yellow .h4:active,
.bg-yellow h5:active,
.bg-yellow .h5:active,
.bg-yellow h6:active,
.bg-yellow .h6:active,
.bg-yellow a.is-active,
.bg-yellow h1.is-active,
.bg-yellow .h1.is-active,
.bg-yellow h2.is-active,
.bg-yellow .h2.is-active,
.bg-yellow h3.is-active,
.bg-yellow .h3.is-active,
.bg-yellow h4.is-active,
.bg-yellow .h4.is-active,
.bg-yellow h5.is-active,
.bg-yellow .h5.is-active,
.bg-yellow h6.is-active,
.bg-yellow .h6.is-active {
  color: #2556a3;
}
.bg-orange {
  background-color: #ec8a22;
  color: #ffffff;
}
.bg-orange a,
.bg-orange h1,
.bg-orange .h1,
.bg-orange h2,
.bg-orange .h2,
.bg-orange h3,
.bg-orange .h3,
.bg-orange h4,
.bg-orange .h4,
.bg-orange h5,
.bg-orange .h5,
.bg-orange h6,
.bg-orange .h6 {
  color: #ffffff;
}
.bg-orange a:hover,
.bg-orange h1:hover,
.bg-orange .h1:hover,
.bg-orange h2:hover,
.bg-orange .h2:hover,
.bg-orange h3:hover,
.bg-orange .h3:hover,
.bg-orange h4:hover,
.bg-orange .h4:hover,
.bg-orange h5:hover,
.bg-orange .h5:hover,
.bg-orange h6:hover,
.bg-orange .h6:hover,
.bg-orange a:focus,
.bg-orange h1:focus,
.bg-orange .h1:focus,
.bg-orange h2:focus,
.bg-orange .h2:focus,
.bg-orange h3:focus,
.bg-orange .h3:focus,
.bg-orange h4:focus,
.bg-orange .h4:focus,
.bg-orange h5:focus,
.bg-orange .h5:focus,
.bg-orange h6:focus,
.bg-orange .h6:focus,
.bg-orange a:active,
.bg-orange h1:active,
.bg-orange .h1:active,
.bg-orange h2:active,
.bg-orange .h2:active,
.bg-orange h3:active,
.bg-orange .h3:active,
.bg-orange h4:active,
.bg-orange .h4:active,
.bg-orange h5:active,
.bg-orange .h5:active,
.bg-orange h6:active,
.bg-orange .h6:active,
.bg-orange a.is-active,
.bg-orange h1.is-active,
.bg-orange .h1.is-active,
.bg-orange h2.is-active,
.bg-orange .h2.is-active,
.bg-orange h3.is-active,
.bg-orange .h3.is-active,
.bg-orange h4.is-active,
.bg-orange .h4.is-active,
.bg-orange h5.is-active,
.bg-orange .h5.is-active,
.bg-orange h6.is-active,
.bg-orange .h6.is-active {
  color: #ffffff;
}
