.block-limestone-local-tasks {
  clear: both;
}
.block-limestone-breadcrumbs nav {
  margin: 0px 0 5px -30px;
  @include breakpoint(medium) {
    margin: -17px 0 15px -30px;
  }
  background-color: #fff;
  display: inline-block;
  padding: 20px 20px 0 30px;
  font-size: 1rem;
  z-index: 3;
  position: relative;
  ul {
    padding: 0;
    margin: 0;
  }
  ul.breadcrumbs li {
    list-style: none;
    display: inline-block;
    position: relative;
    a, span {
      color: #535353;
      font-weight: 400;
      font-size: 15px;
      padding: 0 25px 0 0;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-transform: none;
    }
    &:first-child a {
      background: url(/themes/custom/limestone/images/lc-sprite.svg) no-repeat -277px -5px;
      background-size: 770px;
      display: block;
      text-indent: -99999px;
      width: 25px;
      padding: 5px 0 5px 0;
      margin-right: 25px;
    }
    &:first-child::after {
      top: 17px;
    }
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      height: 12px;
      width: 15px;
      right: -9px;
      top: 10px;
      opacity: 0.95;
      filter: alpha(opacity=95);
      background: url(/themes/custom/limestone/images/lc-sprite.svg) no-repeat;
      background-position: -383px -41px;
      background-size: 770px;
      -o-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
}

.block-limestone-breadcrumbs.bg-l-gray nav {
  background-color: $light-gray;
}
