
.button {
  line-height: 1.1rem;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  text-decoration: none;
  font-size: 1.3em;

  [class^="icon-"], [class*=" icon-"] {
    position: relative;
    padding-right: 0.5rem;
    bottom: -0.2rem;
    font-size: 1.5rem;
    line-height: 1rem;
  }

  &.large [class^="icon-"], &.large [class*=" icon-"] {
    padding-right: 1rem;
    bottom: -0.2rem;
    font-size: 1.6rem;
  }
  &.hollow {
    &:focus, &:hover {
      background-color: $button-background;
      color: white;
    }
  }
  &.red {
    background-color: $red;
  }

  &.green {
    background-color: $success-color;
  }

  &.twitter-blue {
    background-color: $twitter-blue;
  }

  &.orange {
    background-color: $orange;
  }

  &.category {
    background-color: $category;
  }
}

.field-item-button {
  a {
    @extend .button;
  }
}
.field-item-hollow-button {
  a {
    @extend .button;
    @extend .hollow;
  }
}

.fibonacci-aside .button {
  max-width: 300px;
}
.bg-blue a.lc-btn::before {
  background-color: #1550c3;
}
a.lc-btn, .lc-btn a:first-child {
  padding: 8px 17px !important;
  text-transform: uppercase;
  background-color: #f1f1f1;
  font-family: $header-font-family;
  font-weight: 600;
  color: $limestone-blue !important;
  display: inline-block;
  position: relative;
  background-image: none;
  border-bottom: none;
  margin-bottom: 20px;
  margin-right: 50px;
  z-index: 1;
  line-height: 24px;
  font-size: 14px;
  text-decoration: none !important;

  &:hover, &:focus {
    color: $category;
    &::before {
      background-color: $limestone-light-blue;
    }
    &::after {
      right: -33px;
      transition: right 100ms ease-in-out;
    }
  }

  &::before {
    content: "";
    width: 44px;
    right: -44px;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: $limestone-blue;
    border-left: 5px solid rgba(0, 0, 0, 0.3);
  }

  &::after {
    content: "\f078";
    position: absolute;
    color: white;
    transform: rotate(-90deg);
    font-size: 16px;
    top: 30%;
    right: -31px;
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.larger {
    padding: 14px 20px;
    font-size: 20px;

    &::after {
      font-size: 20px;
    }

    &.back {
      &::after {
        background-position: -342px -40px;
        left: -31px;
        background-size: 487px;
        top: 10px;
      }
    }
  }

  &.blue {
    background-color: rgba($limestone-blue, 0.9);
    color: white !important;

    &:focus, &:hover {
      color: #fff5a9;
      &::before {
        background-color: $limestone-blue;
      }
    }
  }

  &.back {
    &::before {
      content: "";
      width: 44px;
      right: auto;
      left: -44px;
      background: none;
      top: 0;
      bottom: 0;
      position: absolute;
      background-color: $limestone-blue;
      border-right: 5px solid rgba(0, 0, 0, 0.3);
      border-left: none;
      height: auto;
    }

    &::after {
      content: "";
      background: url(/themes/custom/limestone/images/lc-sprite.svg) no-repeat;
      background-position: -310px -38px;
      right: auto;
      left: -31px;
      background-size: 444px;
      position: absolute;
      top: 8px;
      height: 25px;
      width: 17px;
      transition: right 100ms ease-in-out;
      bottom: auto;
    }
  }
}


.button-icon {
  -webkit-box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding-right: 25px;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 1rem;
  border: thin solid rgba(112, 112, 112, 0.3);
  color: $limestone-blue-body !important;
  background-color: $lighter-gray;
  line-height: 25px;
  font-size: 25px;
  display: inline-block;
  font-family: $header-font-family;
  font-weight: bold;
  transition: 100ms;
  text-decoration: none;

  &:hover, &:focus {
    background-color: $medium-gray;
    color: $limestone-blue !important;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
    transition: 100ms;

    [class^="icon-"], [class*=" icon-"] {
      color: $limestone-blue;
      //background-color: $limestone-blue-body;
      transition: 100ms;
    }
  }

  [class^="icon-"], [class*=" icon-"], [class^="menu-icon-"], [class*=" menu-icon-"] {
    color: $limestone-blue-body;
    padding: 19px;
    bottom: -4px;
    left: 0px;
    font-size: 28px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    //background-color: $light-gray;
    line-height: 1rem;
    position: relative;
  }
}

.cta-button, .cta-btn {
  display: inline-block;
  font-family: $header-font-family;
  $cta-button-color: $success-color;
  background: $cta-button-color;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  margin: 0 1.5em 0.5em 0;
  padding: 0.5em 2em;
  &.secondary {
    $cta-button-color: $secondary-color;
  }
  &.warning {
    $cta-button-color: $warning-color;
  }
  &.alert {
    $cta-button-color: $alert-color;
  }
  &.orange {
    $cta-button-color: $orange;
  }
  &.twitter-blue {
    $cta-button-color: $twitter-blue;
  }
  &.teal {
    $cta-button-color: $teal;
  }
  &:hover, &:focus {
    background: smart-scale($cta-button-color, 10%, 10%);
    color: white;
  }
}
