//<p class="callout"><span class="watermark"></span> This is the text of the callout.</p>
//@mixin pseudo($display: block, $pos: absolute, $content: ''){

@mixin callout($bg-color){
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+20,f7f7f7+50,f7f7f7+80&amp;0+0,0.8+15,1+19,1+81,0.8+85,0+100 */
  background: -moz-linear-gradient(left, rgba($bg-color, 1) 0%, rgba($bg-color, 1) 15%, rgba($bg-color, 1) 19%, rgba($bg-color, 1) 20%, rgba($bg-color, 1) 50%, rgba($bg-color, 1) 80%, rgba($bg-color, 1) 81%, rgba($bg-color, 1) 85%, rgba($bg-color, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba($bg-color, 0)), color-stop(15%, rgba($bg-color, 1)), color-stop(19%, rgba($bg-color, 1)), color-stop(20%, rgba($bg-color, 1)), color-stop(50%, rgba($bg-color, 1)), color-stop(80%, rgba($bg-color, 1)), color-stop(81%, rgba($bg-color, 1)), color-stop(85%, rgba($bg-color, 1)), color-stop(100%, rgba($bg-color, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba($bg-color, 0) 0%, rgba($bg-color, 1) 15%, rgba($bg-color, 1) 19%, rgba($bg-color, 1) 20%, rgba($bg-color, 1) 50%, rgba($bg-color, 1) 80%, rgba($bg-color, 1) 81%, rgba($bg-color, 1) 85%, rgba($bg-color, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba($bg-color, 0) 0%, rgba($bg-color, 1) 15%, rgba($bg-color, 1) 19%, rgba($bg-color, 1) 20%, rgba($bg-color, 1) 50%, rgba($bg-color, 1) 80%, rgba($bg-color, 1) 81%, rgba($bg-color, 1) 85%, rgba($bg-color, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba($bg-color, 0) 0%, rgba($bg-color, 1) 15%, rgba($bg-color, 1) 19%, rgba($bg-color, 1) 20%, rgba($bg-color, 1) 50%, rgba($bg-color, 1) 80%, rgba($bg-color, 1) 81%, rgba($bg-color, 1) 85%, rgba($bg-color, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba($bg-color, 0) 0%, rgba($bg-color, 1) 15%, rgba($bg-color, 1) 19%, rgba($bg-color, 1) 20%, rgba($bg-color, 1) 50%, rgba($bg-color, 1) 80%, rgba($bg-color, 1) 81%, rgba($bg-color, 1) 85%, rgba($bg-color, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}
p.lc-callout, blockquote.lc-callout {
  @include callout($white);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */
  //border-top: thin solid $limestone-blue;
  //border-bottom: thin solid $limestone-blue;
  position: relative;
  //width: 100%;
  text-align: center;
  font-size: 130%;
  line-height: 1.5;
  font-family: $body-font-family;
  color: $limestone-blue;
  font-style: italic;
  padding: 1.5em 1em;
  z-index: 1;
  border: none;
  &:before, &:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba($dark-gray, 0);
    background: -moz-linear-gradient(left, rgba($dark-gray, 0) 0%, rgba($dark-gray, 0.5) 14%, rgba($dark-gray, 0.8) 32%, rgba($dark-gray, 0.8) 52%, rgba($dark-gray, 0.8) 71%, rgba($dark-gray, 0.5) 85%, rgba($dark-gray, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba($dark-gray, 0)), color-stop(14%, rgba($dark-gray, 0.5)), color-stop(32%, rgba($dark-gray, 0.8)), color-stop(52%, rgba($dark-gray, 0.8)), color-stop(71%, rgba($dark-gray, 0.8)), color-stop(85%, rgba($dark-gray, 0.5)), color-stop(100%, rgba($dark-gray, 0)));
    background: -webkit-linear-gradient(left, rgba($dark-gray, 0) 0%, rgba($dark-gray, 0.5) 14%, rgba($dark-gray, 0.8) 32%, rgba($dark-gray, 0.8) 52%, rgba($dark-gray, 0.8) 71%, rgba($dark-gray, 0.5) 85%, rgba($dark-gray, 0) 100%);
    background: -o-linear-gradient(left, rgba($dark-gray, 0) 0%, rgba($dark-gray, 0.5) 14%, rgba($dark-gray, 0.8) 32%, rgba($dark-gray, 0.8) 52%, rgba($dark-gray, 0.8) 71%, rgba($dark-gray, 0.5) 85%, rgba($dark-gray, 0) 100%);
    background: -ms-linear-gradient(left, rgba($dark-gray, 0) 0%, rgba($dark-gray, 0.5) 14%, rgba($dark-gray, 0.8) 32%, rgba($dark-gray, 0.8) 52%, rgba($dark-gray, 0.8) 71%, rgba($dark-gray, 0.5) 85%, rgba($dark-gray, 0) 100%);
    background: linear-gradient(to right, rgba($dark-gray, 0) 0%, rgba($dark-gray, 0.5) 14%, rgba($dark-gray, 0.8) 32%, rgba($dark-gray, 0.8) 52%, rgba($dark-gray, 0.8) 71%, rgba($dark-gray, 0.5) 85%, rgba($dark-gray, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e4076', endColorstr='#1972d7', GradientType=1 );
  }
  &:after {
    top: auto;
    bottom: 0;
  }
  span.watermark {
    width: 130px;
    height: 133px;
    position: absolute;
    top: 50%;
    margin-top: -65px;
    left: -70px;
    background-image: url("/themes/custom/limestone/images/lc-sprite.svg");
    background-size: 1035px;
    background-position: -7px -1px;
    opacity: 0.2;
    z-index: -1;
    &.right {
      right: -70px;
      left: auto;
    }
  }
  span.author {
    display: block;
    text-align: right;
    padding-top: 1rem;
  }
}

.bg-blue {
  p.lc-callout, blockquote.lc-callout {
    background: none;
    color: #fff;
    &::before, &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      top: 0;
      left: 0;
      background: rgba(220,220,220,0);
      background: -webkit-gradient(left top,right top,color-stop(0%,rgba(220,220,220,0)),color-stop(14%,rgba(220,220,220,0.5)),color-stop(32%,rgba(220,220,220,0.8)),color-stop(52%,rgba(220,220,220,0.8)),color-stop(71%,rgba(220,220,220,0.8)),color-stop(85%,rgba(220,220,220,0.5)),color-stop(100%,rgba(220,220,220,0)));
      background: linear-gradient(to right,rgba(220,220,220,0) 0%,rgba(220,220,220,0.5) 14%,rgba(220,220,220,0.8) 32%,rgba(220,220,220,0.8) 52%,rgba(220,220,220,0.8) 71%,rgba(220,220,220,0.5) 85%,rgba(220,220,220,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e4076',endColorstr='#1972d7',GradientType=1);
    }
    &:after {
      top: auto;
      bottom: 0;
    }
    span.watermark {
      width: 150px;
      height: 162px;
      position: absolute;
      top: 45%;
      margin-top: -65px;
      left: -89px;
      background-image: url(/themes/custom/limestone/images/lc-sprite.svg);
      background-size: 1250px;
      background-position: -7px -1px;
      opacity: 0.2;
      z-index: -1;
    }
  }
}

.info-box {
  width: 100%;
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 0;
  padding: 30px 30px 30px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  border-top: 6px solid rgba(27,75,170,.62);
  position: relative;
  @include breakpoint(smedium) {
    margin-left: 0px;
  }
  @include breakpoint(large) {
    margin-left: -50px;
    width: 310px;
  }
  @include breakpoint(xlarge) {
    margin-left: -150px;

  }
}

$pull-quote-maxwidth: 50%;
$pull-quote-color: $primary-color;
$pull-quote-offset-large: -25%;
$pull-quote-offset-medium: -15%;
$pull-quote-fontsize-medium-up: 1.875rem;
$pull-quote-fontsize-small: 1.125rem;
$pull-quote-gradient: true;

.pull-quote {
  font-weight: 400;
  letter-spacing: 1.5px;
  font-style: normal;
  font-size: $pull-quote-fontsize-small;
  max-width: $pull-quote-maxwidth;
  font-family: $site-header-font-family;
  line-height: 2em;
  text-transform: uppercase;
  color: $pull-quote-color;
  float: right;
  margin: 10px 0 0 20px;
  @if $pull-quote-gradient == true {
    background: linear-gradient($secondary-color, $pull-quote-color);
  } @else if $pull-quote-gradient == false {
    background: $pull-quote-color; // sets text color
  }
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:before {
    content: '';
  }

  &:after {
    content: '';
  }

  @include breakpoint(medium) {
    font-size: $pull-quote-fontsize-medium-up;
    max-width: calc(#{$pull-quote-maxwidth} - 5%);
    margin-right: $pull-quote-offset-medium;
  }

  @include breakpoint(large) {
    max-width: calc(#{$pull-quote-maxwidth} + 5%);
    margin-right: $pull-quote-offset-large;
  }
}
.callout {
  table tbody {
    border: none;
    background-color: transparent;
    tr:nth-child(even) {
      background-color: transparent;
    }
  }
}
.callout.warning {
  background-color: #ffef86;
  color: #0a0a0a;
}
