//caption
#cboxTitle {
  bottom: -28px;
  font-family: $body-font-family;
}
//1 of max
#cboxCurrent {
  bottom: -28px;
}
#cboxMiddleLeft {
  width: 14px;
  background: url(/themes/custom/limestone/images/colorbox-controls.png) repeat-y -175px 0;
}
#cboxMiddleRight {
  width: 14px;
  background: url(/themes/custom/limestone/images/colorbox-controls.png) repeat-y -211px 0;
}
#cboxTopLeft {
  width: 14px;
  height: 14px;
  background: url(/themes/custom/limestone/images/colorbox-controls.png) no-repeat 0 0;
}
#cboxTopCenter {
  height: 14px;
  background: url(/themes/custom/limestone/images/colorbox-border.png) repeat-x top left;
}
#cboxTopRight {
  width: 14px;
  height: 14px;
  background: url(/themes/custom/limestone/images/colorbox-controls.png) no-repeat -36px 0;
}
#cboxBottomLeft {
  width: 14px;
  height: 43px;
  background: url(/themes/custom/limestone/images/colorbox-controls.png) no-repeat 0 -32px;
}
#cboxBottomCenter {
  height: 43px;
  background: url(/themes/custom/limestone/images/colorbox-border.png) repeat-x bottom left;
}
#cboxBottomRight {
  width: 14px;
  height: 43px;
  background: url(/themes/custom/limestone/images/colorbox-controls.png) no-repeat -36px -32px;
}
