.degree-header {
  table {
    position: relative;
    z-index: 9;
    border-color: transparent;
    background-color: transparent;
    tbody {
      background-color: transparent;
      border: none;
      tr {
        background-color: transparent;
      }
    }
    .splash-header-title, .splash-header-subtitle {
      position: static;
      transform: initial;
    }
    .splash-header-subtitle {
      font-size: 1.2rem;
      @include breakpoint(medium) {
        font-size: 2rem;
      }
      @include breakpoint(large) {
        font-size: 2.5rem;
      }
    }
  }
}
