.degree-header {
  table {
    position: relative;
    z-index: 9;
    border-color: transparent;
    background-color: transparent;
    tbody {
      background-color: transparent;
      border: none;
      tr {
        background-color: transparent;
      }
    }
  }
}
