.upcoming-events-row {
  margin: 0;
  clear: both;
  padding: 14px 0;
  font-weight: 800;
  letter-spacing: -0.5px;
  &:first-child {
    padding-top: 0;
  }
  .upcoming-events-block {
    .date-box {
      float: left;
      padding: 14px 7px;
      background-color: $limestone-yellow;
      color: $limestone-blue;
      margin-right: 10px;
      min-width: 70px;
      .month {
        font-family: $interstate-font; //
        font-variant-numeric: lining-nums;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 12px;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        display: block;
      }
      .day {
        font-family: $interstate-font;
        font-variant-numeric: lining-nums;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 27px;
        line-height: 30px;
        text-align: center;
        display: block;
      }
    }
    .time {
      font-family: $header-font-family;
      font-variant-numeric: lining-nums;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 900;
      line-height: 1.5;
      margin-bottom: -4px;
      color: #000;
      font-size: 15px;
    }
    .event-title {
      font-size: 14px;
      margin-bottom: 15px;
      line-height: 23px;
    }
  }
}

.events-listing {
  .views-row {
    .layout--onecol.grid-margin-x {
      margin: 0;
    }
  }
}
.addtocal-form {
  .addtocal {
    font-size: 1rem;
    color: $limestone-blue-body;
  }
}
