.f1_container {
  position: relative;
  margin: 10px auto;
  //width: 450px;
  height: 281px;
  z-index: 1;
  &:hover {
    .f1_card {
      transform: rotateY(180deg);
    }
  }
}
.f1_container {
  perspective: 1000;
}
.f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.25s linear;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  //color: white;
  text-align: center;
  //background-color: #aaa;
}

.masonry-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 40px;
}
