.f1_container {
  position: relative;
  margin: 0 auto;
  //width: 450px;
  height: 100%;
  z-index: 1;
  &:hover {
    .f1_card {
      transform: rotateY(180deg);
    }
  }
}
.f1_container {
  perspective: 1000;
}
.f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.25s linear;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  backface-visibility: hidden;
  img {
    margin: 0;
  }
}
.face.front {
  padding: 7px;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
  background-color: #aaa;
  padding: 15px;
}
.masonry-grid {
  margin: 0 -20px;
}
.grid-sizer,
.grid-item {
  float: left;
  width: 280px;
}
.grid-item--width2 { width: 560px; }


.grid-item--height { height: 210px; }
.grid-item--height2 { height: 315px; }
.grid-item--height3 { height: 420px; }
