.front-icons {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto -149px;
  padding: 1em;
  display: block;
  clear: both;
  position: relative;
  top: -55px;
  background-color: white;
  border: thin solid $light-gray;
  z-index: 4;
  position: relative;

  a {
    color: $limestone-blue;
    text-decoration: none;
    img {
      max-height: 50px;
      width: auto;
      transition: all 100ms ease;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      cursor: pointer;
      opacity: 0.7;
      margin-bottom: 0;
      &:hover, &:focus {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        max-height: 55px;
        margin-top: -5px;
        opacity: 1;
      }
    }
  }

  li {
    width: xy-cell-size(1 of 7);
    float: left;

    h4 a {
      [class*=" icon-"], [class^="icon-"] {
        clear: both;
        display: block;
        font-size: 50px;

        //margin-bottom: 3px
        x: 0px;
        y: 0px;
        color: #9d9d9d;

        //transition: font-size 100ms ease
        &:hover, &:focus {
          color: $limestone-blue;
          font-size: 55px;
          margin-top: -5px;
        }
      }

      .text {
        display: block;
        margin-top: 10px;
      }
    }
  }
}

.list-icon {
  li {
    position: relative;
    list-style-type: none;
    @include breakpoint(medium) {
      &:after {
        content: "";
        position: absolute;
        right: -24%;
        height: 36px;
        width: 27px;
        top: 38px;
        background: url(/themes/custom/limestone/images/slash.svg) no-repeat 0px 1px;
        background-size: 19px;
      }
    }


    &:last-child {
      &:after {
        background: none;
      }
    }

    h4 {
      text-align: center;
    }

    a:hover, a:focus {
      text-decoration: none;
    }
  }
}

.lc-stat {
  font-size: 5rem;
  text-align: center;
  color: $limestone-yellow;
  background-color: $limestone-blue;
  max-width: 300px;
  margin: 0 auto 0.5rem;
}
.field-name-field-program-grid-block .field-name-field-grid-content {
  .field-item {

  }
}