// All Menus
@include breakpoint(medium) {
  .menubar {
    //Global Menubar styles
    ul[aria-hidden=true] {
      display: none;
    }
    ul[aria-hidden=false] {
      display: block;
      opacity: 1;
    }
    ul {
      position: absolute;
      top: 1.7em;
      -webkit-transition: 0.1s linear opacity;
      min-width: 150px;
      z-index: 9;
      cursor: hand;
    }
    > li {
      &.menu-item--expanded {}
    }
    li {
      float: left;
      position: relative;
      display: inline;
      margin: 0;
      > a {
        float: left;
        padding: 6px 15px;
        width: 100%;
        text-decoration: none;
        &:hover,
        &:focus {
          outline: none;
          &:before {}
        }
      }
    }
  }
  //White Submenu menubar styles
  .expander-content .menubar {
    font-family: $header-font-family;
    ul {
      top: 2.5em;
      &.menu-focus {
        > a::before {}
      }
    }
  }
}



$base-font-size: 1em !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$base-font-color: $dark-gray !default;
$expander-arrow-width: 0.7em;
$expander-toggle-size: 1em;
$expander-toggle-arrow-size: $expander-toggle-size;
$expander-toggle-margin: 1em;

@include breakpoint(medium down) {
  .expander {
    width: 100%;
    float: right;
    z-index: 3;
    position: relative;
    background: white;
  }
  .expander-trigger {
    //border-bottom: 1px solid $light-gray
    color: $action-color;
    cursor: pointer;
    display: block;
    float: right;
    font-size: $expander-toggle-size;
    height: 2.5em;
    padding: 0.1em 1em;
    text-decoration: none;
    user-select: none;
    &::before {
      content: "";
      position: absolute;
      right: 61px;
      top: 0px;
      width: 20px;
      height: 40px;
      background: url(/themes/custom/limestone/images/lc-sprite.svg) no-repeat -621px 2px transparent;
      background-size: 643px !important;
    }
    &::after {
      // Icon-chevron-down
      content: "";
      position: absolute;
      top: 17px;
      right: 22px;
      font-family: "icomoon" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      font-size: 1.7em;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .expander-content {
    clear: both;
    a {
      text-decoration: none;
    }
    ul.menubar {
      li.menu-item {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        -webkit-font-smoothing: auto;
        background-color: #eee;
        border-bottom: 1px solid #fff;
        a {
          padding: 10px 10px 10px 20px;
          width: 100%;
          display: block;
          color: $limestone-blue;
          border-bottom: thin solid #eee;
          position: relative;
        }
        ul.menu.dropdown {
          &[aria-hidden=true] {
            display: none;
          }
          &[aria-hidden=false] {
            display: block;
            opacity: 1;
          }
        }
      }
      li.menu-item.menu-item--expanded {
        position: relative;
        &.expanded {
          &::after {
            background-position: (-283px) -24px;
          }
        }
        > a {
          &::after {
            content: "";
            position: absolute;
            top: 11px;
            right: 11px;
            width: 26px;
            height: 23px;
            background: url(/themes/custom/limestone/images/lc-sprite.svg) no-repeat -283px -1px;
            background-size: 643px !important;
            opacity: 0.8;
            margin-top: 0;
          }
        }
        ul.menu.dropdown li.menu-item {
          background: white;
          font-size: 1rem;
          a {
            padding: 8px 10px 8px 25px;
          }
        }
        ul.menu.dropdown li.menu-item.added-toplevel-link {
          font-size: 98%;
          a {
            padding: 8px 10px 8px 20px;
          }
        }
      }
    }
  }
  .expander-hidden + .expander-content {
    display: none;
  }
}















@include breakpoint(medium) {
  a.lc-mobile-menu-toggle {
    display: none;
  }
  .expander-hidden + .expander-content {
    display: block;
  }
  nav.sub-menu-block {
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    background-color: #fff;
    position: relative;
    z-index: 5;
    text-transform: uppercase;
    a {
      color: $limestone-blue;
    }
    > ul.menubar {
      padding: 0 0.8em;
      @include xy-grid-container;
      > li {
        > a {

          //top level separator
          &:after {
            content: "";
            position: absolute;
            right: -11px;
            height: 24px;
            width: 12px;
            top: 13px;
            background: url("/themes/custom/limestone/images/slash.svg") no-repeat;
          }
        }
      }
    }

    li {

      &:hover,
      &:focus,
      &.menu-focus,
      &.menu-hover {
        > a {
          color: $success-color;
        }
      }
    }

    // Dropdowns
    li.menu-item--expanded {

      // &:last-child
      //  > a
      //    padding-right: 0
      > a {
        padding-right: 1.5em;

        &::before {
          // Icon-chevron-down
          content: "";
          position: absolute;
          top: 0.5em;
          right: 0.4em;
          font-family: "icomoon" !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }

      &:hover,
      &:focus,
      &.menu-focus,
      &.menu-hover {
        > a {
          color: $success-color;

          &::before {
            //icon-arrow-right2
            content: "";
          }
        }
      }
    }

    ul.dropdown {
      top: 2em;
      border: 0;
      border-top: 4px solid $limestone-blue;
      padding: 10px 0;
      background: #fff;
      min-width: 13em;
      z-index: 3;
      -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);

      li {
        width: 80%;
        margin: 0 10%;
        padding: 0.4em 0;
        list-style: none;
        display: inline-block;
        float: left;
        clear: left;
        border-bottom: thin solid #eee;
        font-size: 1rem;

        &:last-child {
          border: none;
        }

        > a {
          padding: 4px 15px;
          color: $primary-color;

          &:hover,
          &:focus {
            background-color: $light-gray;
            color: $limestone-blue;
          }
        }

        &:hover,
        &:focus,
        &.menu-focus {
          > a {

            &:hover,
            &:focus {
              background-color: $light-gray;
              color: $limestone-blue;
            }
          }
        }
      }
    }
  }
}
