@media (min-width: 48em) {
  html.js .guide--menu-content {
    display: block !important;
  }

  .guide--menu-trigger {
    display: none;
  }
  .guide--menu {
    padding: 1rem;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 5px 20px 5px rgba(0,0,0,0.1);
  }
}



.guide--menu-trigger {
  cursor: pointer;
  color: #137cc1;
  transition: color 0.2s;
}

.guide--menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
