.fast-facts-list {
  color: $limestone-blue;
  li {
    padding: 1.16667rem;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: none;
    }
  }
}
.image-buttons {
  a[target=_blank]::after {
    display: none;
  }
}
ul.list-unstyled, ul.unstyled-list {
  margin-left: 0;
  &.centered {
    margin-left: auto;
  }
  li {
    list-style-type: none;
  }
}
ul.bullets {
  margin-left: 1.25rem;
  list-style-type: disc;
  li {
    list-style-type: disc;
  }
}
ul.line-items {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    width: 100%;
    float: left;
    //border-bottom: thin dotted black;
    .right {
      display: inline-block;
      float: right;
    }
    &::after {
      content: "";
      width: 80%;
      height: 1px;
      margin: 0 auto;
      background: url("/themes/custom/limestone/images/stripes-dark-tile.svg") repeat-x;
    }
  }
}
.striped {
  .even {
    background-color: $lighter-gray;
  }
}
.field-type-text-long .field-item ul li {
  line-height: 1.9rem;
}
