// Side Menu
.fibonacci-aside {
  width: xy-cell-size(12 of 12);
  @include breakpoint(large) {
    width: xy-cell-size(4 of 12);
    @include xy-gutters($gutter-position: left);
    padding-left: 1rem;
  }
}

.fibonacci-aside, .sidebar, .large-4 {
  .field-wrapper.field-name-field-block {
    width: 100%;
  }
  nav {
    font-family: $header-font-family;
    z-index: 1;
    position: relative;
    h2 {
      background-color: $limestone-blue;
      font-family: $header-font-family;
      font-weight: bold;
      font-size: 1.25rem;
      text-transform: uppercase;
      color: white;
      line-height: inherit;
      padding: 0.3rem 1rem;
      margin: 0;
      position: relative;
      border-right: 60px solid $limestone-yellow;
      &:empty, &:only-child {
        padding: 5px 0 5px 30px;
      }
      a {
        display: block;
        //padding: 5px 0 5px 30px;
        text-decoration: none;
        color: white;
      }
      &::before {
        display: none;
      }
      &::after {
        content: "";
        background: url(/themes/custom/limestone/images/lc-sprite.svg) no-repeat;
        background-position: (-311px) -533px;
        background-size: 770px;
        height: 32px;
        position: absolute;
        right: -48px;
        width: 35px;
        top: 8px;
      }
    }

    ul.root-level, ul.menu-level-0 {
      a {
        color: $dark-gray;
        padding: 9px 0 9px 40px;
        float: left;
        width: 100%;
        font-size: 1rem;
        background-color: lighten($light-gray, 6%);
        border: thin solid #ccc;
        border-top: none;
        &:focus, &:hover {
          background-color: #fffce2;
        }
      }

      li.menu-item {
        float: left;
        width: 100%;
        background-color: lighten($light-gray, 6%);
        position: relative;
        button.submenu-toggle {
          background-color: #cccccc;
        }
        &:focus, &:hover {
          background-color: lighten($light-gray, 9%);
          transition: 100ms;
          button.submenu-toggle {
            background-color: #fff;
          }
        }
        &.is-submenu-item.is-accordion-submenu-parent {
          button.submenu-toggle {
            display: none;
          }
        }
        &.menu-item--active-trail {
          > a {
            font-weight: 700;

            //margin-left: -6px
            &.is-active {
              //background-color: rgba(251, 234, 101, 0.29)
              border-left: 6px solid $limestone-yellow;
            }
          }

          ul.dropdown li.menu-item {
            &.menu-item--active-trail {
              a {
                //border-left: 6px solid lighten($light-gray, 12%)

              }
            }

            a {
              font-weight: 300;

              //border-left: 6px solid lighten($light-gray, 12%)

            }
          }
        }

        ul.dropdown {
          li.menu-item {
            float: left;
            width: 100%;
            background-color: lighten($light-gray, 12%);

            &:focus, &:hover {
              background-color: lighten($light-gray, 15%);
              transition: 100ms;
            }

            a {
              &:before {
                content: "- ";
              }
            }

            ul.dropdown {
              li.menu-item {
                float: left;
                width: 100%;
                background-color: lighten($light-gray, 20%);
              }
            }
          }
        }
      }
    }
  }
  .menu.nested {
    float: left;
    margin-left: 0;
    width: 100%;
    li > a {
      padding-left: 50px;
      background-color: #fdfdfd;
       &::before {
         content: "- ";
         font-family: $header-font-family;
      }
    }
  }
}
