// Side Menu
.fibonacci-aside {
  width: xy-cell-size(12 of 12);
  @include breakpoint(large) {
    width: xy-cell-size(4 of 12);
    @include xy-gutters($gutter-position: left);
    padding-left: 1rem;
  }
}

.fibonacci-aside, .sidebar, .thirds-right, .large-4 {
  .field-wrapper.field-name-field-block {
    width: 100%;
  }

  nav {
    font-family: $header-font-family;
    z-index: 1;
    position: relative;
    padding-bottom: 2rem;
    max-width: 425px;
    h2 {
      background-color: $limestone-blue;
      font-family: $header-font-family;
      font-weight: bold;
      font-size: 1.75rem;
      text-transform: uppercase;
      color: white;
      line-height: inherit;
      margin: 0;
      position: relative;
      border-radius: 0.2rem 0.2rem 0 0;
      span {
        padding: 0.7rem 1rem;
        display: block;
        &:has(a) {
          padding: 0;
        }
        a {
          padding: 0.7rem 1rem;
          &:hover, &:focus {
            background-color: lighten($limestone-blue, 6%);
          }
        }
      }
      &:empty, &:only-child {
        padding: 5px 0 5px 30px;
      }
      a {
        display: block;
        //padding: 0.7rem 1rem;
        text-decoration: none;
        color: white;
      }
      &::before {
        display: none;
      }
      &::after {
        //content: "";
        //background: url(/themes/custom/limestone/images/lc-sprite.svg) no-repeat;
        //background-position: (-311px) -533px;
        //background-size: 770px;
        //height: 32px;
        //position: absolute;
        //right: -48px;
        //width: 35px;
        //top: 8px;
      }
    }

    ul.root-level, ul.menu-level-0 {
      a {
        color: $dark-gray;
        padding: 9px 0 9px 26px;
        float: left;
        width: 100%;
        //font-size: 1rem;
        background-color: lighten($light-gray, 6%);
        border: thin solid #ccc;
        border-top: none;
        &:focus, &:hover {
          background-color: #fffce2;
        }
      }
      li.menu-item {
        float: left;
        width: 100%;
        background-color: lighten($light-gray, 6%);
        position: relative;
        button.submenu-toggle {
          background-color: #cccccc;
        }
        &:focus, &:hover {
          background-color: lighten($light-gray, 9%);
          transition: 100ms;
          button.submenu-toggle {
            background-color: #fff;
          }
        }
        &.is-submenu-item.is-accordion-submenu-parent {
          button.submenu-toggle {
            //display: none;
          }
        }
        &.menu-item--active-trail {
          > a {
            font-weight: 700;

            //margin-left: -6px
            &.is-active {
              //background-color: rgba(251, 234, 101, 0.29)
              border-left: 7px solid $limestone-yellow;
            }
          }

          ul.dropdown li.menu-item {
            &.menu-item--active-trail {
              a {
                //border-left: 6px solid lighten($light-gray, 12%)

              }
            }

            a {
              font-weight: 300;

              //border-left: 6px solid lighten($light-gray, 12%)

            }
          }
        }

        ul.dropdown {
          li.menu-item {
            float: left;
            width: 100%;
            background-color: lighten($light-gray, 12%);

            &:focus, &:hover {
              background-color: lighten($light-gray, 15%);
              transition: 100ms;
            }

            a {
              &:before {
                content: "- ";
              }
            }

            ul.dropdown {
              li.menu-item {
                float: left;
                width: 100%;
                background-color: lighten($light-gray, 20%);
              }
            }
          }
        }
      }
      // Expands the active menu
      li.menu-item--expanded.menu-item--active-trail.is-accordion-submenu-parent.has-submenu-toggle[tabindex="0"] {
        ul.is-accordion-submenu {
          display: block;
        }
      }
    }
  }
  ul {
    margin-left: 0;
  }
  .menu.nested {
    float: left;
    width: 100%;
    margin-left: 0;
    > li {
      > a {
        padding-left: 38px;
        background-color: #fbfbfb;
        &::before {
          content: "- ";
          font-family: $header-font-family;
        }
      }
      ul.submenu  {
        float: left;
        margin-left: 0;
        width: 100%;
        li > a {
          padding-left: 58px;
          background-color: #ffffff;
          &::before {
            content: "- ";
            font-family: $header-font-family;
          }
        }
      }
      .submenu.nested {
        float: left;
        margin-left: 0;
        width: 100%;
        li > a {
          padding-left: 48px;
          background-color: #ffffff;
        }
      }
    }
  }
}

.menu-align-right {
  ul:first-child {
    @extend .align-right;
  }
}
