.main-menu-region {
  font-size: 1.1em !important;
  font-family: $header-font-family;
  font-weight: 600;
  box-shadow: 0 1px 1px rgba(34,25,25,0.3);
  @include breakpoint(large) {
    font-size: 1.25em !important;
  }
  ul.grid-container.align-center {
    margin: 0 auto;
  }
  ul.main-menu > li > a {
    padding: 1rem 1rem;
  }
  .dropdown.menu>li.is-dropdown-submenu-parent>a {
    &:focus, &:hover {
      color: $success-color;
    }
  }
  ul.dropdown.menu > li.is-dropdown-submenu-parent {
    > a::before {
      content: "\f078";
      font-family: 'icomoon' !important;
      speak: none;
      color: $primary-color;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 13px;
      border: inset 0px;
      position: absolute;
      right: 0.6rem;
      left: auto;
      margin-top: 0.2rem;
    }
    > a::after {
      content: "";
      position: absolute;
      right: -17px;
      height: 37px;
      width: 22px;
      top: 17px;
      background: url(/themes/custom/limestone/images/slash.svg) 0px 0px no-repeat;
      background-size: 15px;
    }
    &.is-active {
      color: $success-color;
      > a::before {
        content: "\ea34";
        color: $success-color;
        font-size: 15px;
        right: 0.6rem;
        margin-top: 0.2rem;
      }
    }
  }
  a:focus, a:hover {
    color: $success-color;
  }
  .menu.dropdown {
    text-transform: uppercase;
    padding: 7px 0 5px 0;
    margin: 0 auto;
  }
  .submenu {
    background-color: white;
    border: none;
    border-top: 4px solid $limestone-blue;
    min-width: 260px;
    padding: 10px 0;
    text-transform: none;
    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0,.5);
    -moz-box-shadow: 1px 1px 8px rgba(0,0,0,.5);
    box-shadow: 1px 1px 8px rgba(0,0,0,.5);
    z-index: 100;
    > li {
      width: 80%;
      margin: 0 10%;
      border-bottom: thin solid #eee;
      float: left;
      clear: left;
      &:focus, &:hover {
        background-color: #E7E7E7;
        a {
          color: $limestone-blue;
        }
      }
      &:last-child {
        border-bottom: none;
      }
      a {
        color: $dark-gray;
        font-weight: 400;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-top: 4px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
  nav {


  }
}

@include breakpoint(medium) {
  a.lc-mobile-menu-toggle {
  display: none
  }
  .expander-hidden + .expander-content {
    display: block
  }
}
$expander-arrow-width: 0.7em;
$expander-toggle-size: 1em;
$expander-toggle-arrow-size: $expander-toggle-size;
$expander-toggle-margin: 1em;

@include breakpoint(smedium down) {
  .expander {
    width: 100%;
    float: right;
    z-index: 3;
    position: relative;
    background: white;
  }

  .expander-trigger {
    //border-bottom: 1px solid $light-gray
    color: $success-color;
    cursor: pointer;
    display: block;
    float: right;
    font-size: $expander-toggle-size;
    height: 2.5em;
    padding: 0.1em 1em;
    text-decoration: none;
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      right: 77px;
      top: 6px;
      width: 20px;
      height: 40px;
      background: url(/themes/custom/limestone/images/lc-sprite.svg) no-repeat -631px 6px transparent;
      background-size: 651px !important;
    }

    &::after {
      // Icon-chevron-down
      content: "\f078";
      position: absolute;
      top: 20px;
      right: 30px;
      font-family: "icomoon" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      font-size: 1.6rem;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .expander-content {
    clear: both;

    a {
      text-decoration: none;
    }
    .is-drilldown {
      max-width: none !important;
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}