.background-style {
  &.background-center {
    background-position: center;
  }
  &.background-top {
    background-position: top;
  }
  &.background-bottom {
    background-position: bottom;
  }
  &.background-fixed {
    background-attachment: fixed;
    background-position: center center;
  }
  h2, h3, h4, h5, h6 {

  }
  background-image: none !important;
  @include breakpoint(phone) {
    background-image: inherit !important;
  }
}

.paragraph-border-sm {
  border-top: solid 8px $limestone-blue;
  border-bottom: solid 8px $limestone-blue;
}
