.background-style {
  &.background-center {
    background-position: center;
  }
  &.background-top {
    background-position: top;
  }
  &.background-bottom {
    background-position: bottom;
  }
  &.background-fixed {
    background-attachment: fixed;
    background-position: center center;
  }
}

.paragraph-border-sm {
  border-top: solid thin $limestone-blue;
  border-bottom: solid thin $limestone-blue;
}
