.node--type-profile.node--view-mode-teaser, .node--type-profile.node--view-mode-profile-staff-council {
  text-align: center;
  img {
    border-radius: 50%;
    height: auto;
    width: 220px;
    display: block;
    margin: 0 auto 0.5em;
    position: static;
  }
  .field-name-field-name {
    font-family: $header-font-family;
    font-weight: bold;
    font-size: 2rem;
  }
  .field-label {
    font-weight: 900;
  }
}

.circle-image {
  img {
    border-radius: 50%;
    height: auto;
    display: block;
    margin: 0 auto 0.5em;
    position: static;
  }
}

.related-faculty-horizontal {
  .field-item {
    @extend .small-6;
    @extend .large-4;
    @extend .align-center;
    .group-left, .group-right {
      width: 100% !important;
    }
  }
}
