.lc-slider {
  position: relative;
  height: 450px;
  overflow: hidden;
  .views_slideshow_slide {
    width: 100% !important;
    height: 450px !important;
    float: left;
  }
  footer {
    .next-headline {

      background: 0 0;
      border: none;
      text-align: left;
      padding: 0;
      display: none;
      font-family: "Encode Sans Compressed", sans-serif;
      letter-spacing: .03em;
      line-height: 1.3;
      font-weight: 900;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;
      text-shadow: 2px 1px 1px rgba(0, 0, 0, .4);
      position: absolute;
      z-index: 3;
      right: 15%;
      bottom: 50px;
      width: 240px;
      outline: 0;
    }
  }
}
.lc-slide-background {
  background-color: $limestone-blue;
}
.lc-slide {
  height: 100%;
  position: relative;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  .slide-cover-image {
    @extend .cover-image;
    position: absolute;
  }
  .lc-slide-container {
    position: relative;
    z-index: 1;
    color: white;
    padding: 0 0 140px 0;
    @include breakpoint(smedium) {
      width: 1180px;
      padding: 10px 0;
      height: 450px;
      position: relative;
    }
    .field-name-body {
      z-index: 1;
      padding: 2rem 0 0;
      p {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        @include breakpoint(smedium) {
          padding-right: 250px;
        }
        &.dark {
          color: white;
          text-shadow: none;
          display: inline-block;
          float: left;
          clear: both;
          padding: 5px 10px;

          @include breakpoint(smedium) {
            color: $dark-gray;
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }


    }
    .field-type-link a {
      @extend .lc-btn;
      float: left;
      clear: both;
      text-shadow: none;
    }
    h3 {
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      font-family: $interstate-font;
      font-weight: 900;
      letter-spacing: -1px;
      text-transform: uppercase;
      overflow: hidden;
      font-size: 25px;
      line-height: 30px;
      padding-right: 0;
      margin: 0;
      @include breakpoint(smedium) {
        font-size: 50px;
        line-height: 50px;
        padding-right: 60px;
        margin: 10px 0 0;
        position: relative;
        padding-bottom: 30px;
      }

    &.dark {
        color: $dark-gray;
        text-shadow: none;
      }

      &.blue {
        color: $limestone-blue;
        text-shadow: none;
      }
      &:before, &:after {
        position: absolute;
        left: 0;
        bottom: 0.5rem;
        content: "";
        height: 10px;
      }

      &:before {
        width: 9rem;
        background-color: $limestone-yellow;
        transform: skewX(-35deg) skewY(0);
        -ms-transform: skewX(-35deg) skewY(0);
        transform: skew(-35deg,0);
        left: 5px;
        margin-left: -10px;
      }
    }

    .large-text {
      font-size: $lead-font-size;
    }
  }
}

.lc-slide-next {

}