.top-bar, top-bar ul {
  background-color: $almost-black;
  font-family: $site-header-font-family;
  font-weight: normal;
  a {
    color: $white;
    &:focus, &:hover {
      color: $limestone-yellow;
    }
  }
}
.top-bar ul.dropdown.menu {
  li.is-active > a {
    color: $limestone-yellow;
  }
}

.top-bar-buttons {
  position: relative;
  a {
    margin: 0;
    position: absolute;
    right: 0;
    top: -10px;
    font-size: 21px;
    padding: 12px 15px;
    span [class^="icon-"], span [class*=" icon-"] {
      line-height: 12px;
      font-size: 24px;
    }
  }
}
