.top-bar, top-bar ul.menu {
  background-color: $almost-black !important;
  font-family: $site-header-font-family;
  font-weight: normal;
  padding: 0;
  a {
    color: $white;
    &:focus, &:hover {
      color: $limestone-yellow;
      span {
        color: $limestone-yellow;
      }
    }
  }
}
.top-bar ul.dropdown.menu {
  background-color: $almost-black !important;
  li.is-active > a {
    color: $limestone-yellow;
  }
}

.top-bar-menu {
  a {
    &:focus, &:hover {
      span [class^="icon-"], span [class*=" icon-"] {
        color: $limestone-yellow;
      }
    }

  }
}
