.top-bar, .top-bar ul.menu {
  background-color: $almost-black !important;
  font-family: $site-header-font-family;
  font-weight: normal;
  padding: 0;
  font-size: 0.8rem;

  a.is-submenu-item {
    padding: 0.7rem 1rem;
  }
  a {
    color: $white;
    &:focus, &:hover {
      color: $limestone-yellow;
      &::before {
        color: $limestone-yellow;
      }
    }
  }
}
.top-bar ul.dropdown.menu > li:first-child {
  a {
    padding-left: 0;
  }
}
.top-bar ul.dropdown.menu, .top-bar ul {
  background-color: $almost-black !important;
  li.is-active > a {
    color: $limestone-yellow;
  }
}

.top-bar-menu {
  [class^="menu-icon-"]::before, [class*=" menu-icon-"]::before {
      position: absolute;
    }
}

@include breakpoint(smedium down) {
  .top-bar, .bottom-bar {
    font-size: 17px; //for small screens
  }
}
