.footer-fill {
  footer {
    width: 100%;
  }
}

.header-fill {
  header {
    width: 100%;
  }
}

.pager-no-list {
  .pager {
    list-style-type: none;
  }
}
.pager-center {
  .pager {
    text-align: center;
    width: 100%;
    margin: 0 10px;
  }
}
