.footer-fill {
  footer {
    width: 100%;
  }
}

.header-fill {
  header {
    width: 100%;
  }
}
.views-title-center {
  .viewsreference--view-title {
    text-align: center;
    @extend .h2;
    &::before, &::after {
      display:none;
    }
  }
}

.pager-no-list {
  .pager {
    list-style-type: none;
  }
}
.pager-center {
  .pager {
    text-align: center;
    width: 100%;
    margin: 0 10px;
  }
}
.view-course-descriptions {
  form.views-exposed-form {
    min-height: 60px;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    .js-form-item-field-course-discipline-target-id {
      margin-top: -1.5rem;
      width: 100%;
      @include breakpoint(smedium) {
        width: 320px;
      }
    }
  }
}

.degrees-table {
  a.learn-more-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
  }
  th {
    font-family: $header-font-family;
    text-transform: uppercase;
    font-size: 1.4rem;
    background-color: $limestone-blue;
    color: white;
  }
}
