.footer-fill {
  footer {
    width: 100%;
  }
}

.header-fill {
  header {
    width: 100%;
  }
}
.views-title-center {
  .viewsreference--view-title {
    text-align: center;
    @extend .h2;
    &::before, &::after {
      display:none;
    }
  }
}
.pager a.button {
  font-size: 1rem;
}
.pager-no-list {
  .pager {
    list-style-type: none;
  }
}
.pager-center {
  .pager {
    text-align: center;
    width: 100%;
    margin: 0 10px;
  }
}
.view-course-descriptions {
  form.views-exposed-form {
    min-height: 60px;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    .js-form-item-field-course-discipline-target-id {
      margin-top: -1.5rem;
      width: 100%;
      @include breakpoint(smedium) {
        width: 320px;
      }
    }
  }
}

.degrees-table {
  a.learn-more-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
  }
  th {
    font-family: $header-font-family;
    text-transform: uppercase;
    font-size: 1.4rem;
    background-color: $limestone-blue;
    color: white;
  }
  form.views-exposed-form {
    background-color: #f1f1f1;
    padding: 1rem 1rem 0;
    border-radius: 10px 10px 0 0;
    float: left;
    width: 100%;
    .js-form-item-field-course-discipline-target-id {
      //margin-top: -15px;
      padding: 0.5rem 0.4rem;
      width: 500px;
      margin: 0 auto;
      text-align: center;
      position: relative;
      z-index: 2;
      float: none;
    }
    .success.button {
      font-size: 1.1rem;
      margin: 51px 0 0 0;
      padding: 9px 17px;
    }
    select {
      height: 45px
    }
    label {
      color: $limestone-blue;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
.exposed-filters-on-top {
  form.views-exposed-form {
    width: 100%;
  }
}

// logos slick carousel
.slide__content > slide__grid {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
