
/* ===== ViewsJumpMenuect Box ===== */
.ViewsJumpMenu {
  font-size: 1rem;
  display: inline-block;
  margin: 3em 2em;
  width: 350px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.ViewsJumpMenu::before {
  position: absolute;
  content: '\f063';
  font-family: 'FontAwesome';
  font-size: 2em;
  color: #FFF;
  right: 20px;
  top: calc(50% - 0.5em);
}

.ViewsJumpMenu.active::before {
  transform: rotateX(-180deg);
}

.ViewsJumpMenu__placeholder {
  display: block;
  font-family: 'Quicksand';
  font-size: 2.3em;
  color: #838e95;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-ViewsJumpMenuect: none;
  visibility: visible;
}

.ViewsJumpMenu.active .ViewsJumpMenu__placeholder {
  visibility: hidden;
}

.ViewsJumpMenu__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.ViewsJumpMenu.active .ViewsJumpMenu__placeholder::before {
  visibility: visible;
}

.ViewsJumpMenu__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #FFF;
  width: calc(100% + 8px);
  box-sizing: border-box;
}

.ViewsJumpMenu.active .ViewsJumpMenu__box {
  display: block;
  animation: fadeInUp 500ms;
}

.ViewsJumpMenu__box__options {
  display: list-item;
  font-size: 1.5em;
  color: #838e95;
  padding: 0.5em 1em;
  user-ViewsJumpMenuect: none;
}

.ViewsJumpMenu__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.ViewsJumpMenu__box__options.ViewsJumpMenuected::after {
  display: inline;
}

.ViewsJumpMenu__box__options:hover {
  background-color: #ebedef;
}

/* ----- ViewsJumpMenuect Box Black Panther ----- */
.ViewsJumpMenu {
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}


/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}