{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

{% set attributes = attributes.addClass('cover-image') %}

<div{{ attributes }}>
  {% if content %}
    <div class="cover-image-inner">
    {{ content }}
    </div>
  {% endif %}
</div>
