.unpublished-toggle {position: fixed;width: auto;bottom: 0;right: 0;padding: 1em;cursor: pointer;background: #242424;color: #fff}
.paragraph.unpublished {display: none;border: 1px dotted #e91e63;position: relative}
.paragraph.unpublished::after {font-size: 14px;font-size: .875rem;line-height: 20px;line-height: 1.25rem;font-weight: 600;content: 'Unpublished';background: #e91e63;position: absolute;top: -30px;right: 0;z-index: 9999;height: 30px;padding: 5px 10px;color: #fff}
