{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */

#}


<ul{{ attributes.addClass('menu', 'vertical', 'medium-horizontal', 'dropdown').setAttribute('data-responsive-menu', 'drilldown medium-dropdown') }} data-auto-height="true" data-animate-height="true" data-parent-link="true">
{% for key, item in items if key|first != '#' %}
  {% set menu_item_classes = [
    'menu-item',
    item.is_expanded ? 'menu-item--expanded',
    item.is_collapsed ? 'menu-item--collapsed',
    item.in_active_trail ? 'menu-item--active-trail',
  ] %}

  <li{{ item.attributes.addClass(menu_item_classes) }}>
    {{ link(item.title, item.url) }}

    {% set rendered_content = item.content|without('') %}
    {% if rendered_content|render %}
      {{ rendered_content }}
    {% endif %}
  </li>
{% endfor %}
</ul>
