.field--label {
  font-weight: bold;
}
.field--label-inline .field--label,
.field--label-inline .field--items {
  float: left;
  /*LTR*/
}
.field--label-inline .field--label,
.field--label-inline > .field--item,
.field--label-inline .field--items {
  padding-right: 0.5em;
}
[dir="rtl"] .field--label-inline .field--label,
[dir="rtl"] .field--label-inline .field--items {
  padding-left: 0.5em;
  padding-right: 0;
  float: right;
  /*RTL*/
}
.field--label-inline .field--label::after {
  content: ':';
}
.field--name-body {
  margin-bottom: 1rem;
}
.field--name-field-program-type-term,
.course-discipline {
  font-size: 2.5rem;
  position: relative;
  top: -1rem;
}
.embedded-entity,
.inline,
.field-label-inline {
  display: inline;
}
.field-label-inline + div.h4 {
  display: inline;
}
.field-name-field-course-choices a {
  padding-right: 5px;
}
