table .checkbox.form-no-label,
table .radio.form-no-label {
  margin-bottom: 0;
  margin-top: 0;
}
.select-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}
.form-inline .select-wrapper {
  width: auto;
}
.input-group .select-wrapper {
  display: table-cell;
}
.input-group .select-wrapper:first-child .form-control:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.input-group .select-wrapper:last-child .form-control:first-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1;
  padding-right: 2em;
}
.select-wrapper select::-ms-expand {
  opacity: 0;
}
.select-wrapper:after {
  color: #0038a5;
  content: '▼';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: -0.5em;
  padding-right: .5em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10;
}
.has-glyphicons .select-wrapper:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e114';
  display: inline-block;
  font-family: 'Glyphicons Halflings';
}
.has-error .select-wrapper:after {
  color: #a94442;
}
.has-success .select-wrapper:after {
  color: #3c763d;
}
.has-warning .select-wrapper:after {
  color: #8a6d3b;
}
.form-required:after {
  background-image: url(../../images/required.svg);
  background-size: 10px 7px;
  content: "";
  display: inline-block;
  line-height: 1;
  height: 7px;
  width: 10px;
}
.form-actions .btn,
.form-actions .btn-group {
  margin-right: 10px;
}
.form-actions .btn-group .btn {
  margin-right: 0;
}
.view-course-glossary .attachment-before {
  padding: 0 10px 10px 6px;
}
#views-exposed-form-course-listing-page-3 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #views-exposed-form-course-listing-page-3 {
    width: auto;
  }
}
.not-chosen .chosen-container-single {
  border: 1px solid #aaa;
}
.not-chosen .chosen-container-single .chosen-single {
  border: none;
  background: transparent;
  box-shadow: none;
}
.not-chosen .chosen-container-single .chosen-single div b {
  background: none;
}
.not-chosen .chosen-container-single .chosen-single .chosen-drop {
  left: -1px;
  width: 101%;
}
.form-type-checkbox.js-form-type-checkbox label {
  padding: 0.5rem 1rem;
  margin-left: 3px;
  line-height: 1rem;
}
.form-type-checkbox.js-form-type-checkbox label input:not(#edit-persistent-login) {
  margin-right: 5px;
  top: 0;
}
.form-item {
  padding-right: 2rem;
}
.chosen-drop {
  left: 0;
}
.views-field-field-online-evening-term ul {
  padding: 0;
  margin: 0;
}
.views-field-field-online-evening-term ul li {
  list-style-type: none;
  list-style-image: none;
}
.view-course-listing.view-display-id-page_3 tr th:nth-child(2),
.view-course-listing.view-display-id-page_3 tr td:nth-child(2) {
  display: none;
}
@media screen and (min-width: 768px) {
  .view-course-listing.view-display-id-page_3 tr th:nth-child(2),
  .view-course-listing.view-display-id-page_3 tr td:nth-child(2) {
    display: table-cell;
  }
}
.view-course-listing.view-display-id-page_1 .bef-exposed-form .form--inline > .form-item {
  float: left;
  padding: 7px 5px;
  background-color: #f3f3f3;
  margin: 8px 3px 5px;
}
.view-course-listing.view-display-id-page_1 .view-filters div.form-type-checkbox {
  float: right;
}
.view-course-listing.view-display-id-page_1 .view-filters div.form-type-checkbox:last-child {
  clear: both;
}
.view-course-listing.view-display-id-page_1 .view-filters div.form-type-checkbox.form-item-field-honors-indicator-value,
.view-course-listing.view-display-id-page_1 .view-filters div.form-type-checkbox .form-item-field-may-be-offered-as-an-honor-value {
  float: left;
}
.view-course-listing.view-display-id-page_1 .form-item-field-course-discipline-target-id {
  background: none;
  margin: 1px;
}
.fibonacci-aside-left .bef-exposed-form .form--inline > .form-item {
  padding: 14px 15px;
  background-color: #f3f3f3;
  margin: 8px 3px 5px;
}
