@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?nawv234pf');
  src:  url('icomoon.eot?na234wf#iefix') format('embedded-opentype'),
    url('icomoon.ttf?n23w4pf') format('truetype'),
    url('icomoon.woff?wn234upf') format('woff'),
    url('icomoon.svg?na23w4pf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e922";
  color: #e4405f;
}
.icon-formstack:before {
  content: "\e91f";
  color: #21b573;
}
.icon-brand:before {
  content: "\e901";
  color: #3b5998;
}
.icon-brand2:before {
  content: "\e902";
  color: #0063dc;
}
.icon-brand3:before {
  content: "\e903";
  color: #dc4e41;
}
.icon-brand4:before {
  content: "\e905";
  color: #0077b5;
}
.icon-brand5:before {
  content: "\e906";
  color: #1da1f2;
}
.icon-brand6:before {
  content: "\e908";
  color: #cd201f;
}
.icon-snowflake:before {
  content: "\e965";
}
.icon-calendar2:before {
  content: "\e909";
}
.icon-coffee:before {
  content: "\e90a";
}
.icon-cog2:before {
  content: "\e90b";
}
.icon-cogs:before {
  content: "\e90c";
}
.icon-cog3:before {
  content: "\e90e";
}
.icon-warning2:before {
  content: "\e90f";
}
.icon-health:before {
  content: "\e910";
}
.icon-suitcase:before {
  content: "\e913";
}
.icon-time:before {
  content: "\e914";
}
.icon-location2:before {
  content: "\e915";
}
.icon-phone2:before {
  content: "\e916";
}
.icon-graduate:before {
  content: "\e917";
}
.icon-lab2:before {
  content: "\e918";
}
.icon-tie:before {
  content: "\e919";
}
.icon-medal:before {
  content: "\e91a";
}
.icon-medal2:before {
  content: "\e91b";
}
.icon-moneybag:before {
  content: "\e91c";
}
.icon-tools:before {
  content: "\e92e";
}
.icon-brush:before {
  content: "\e92f";
}
.icon-pen:before {
  content: "\e930";
}
.icon-chat:before {
  content: "\e931";
}
.icon-comments:before {
  content: "\e932";
}
.icon-chat2:before {
  content: "\e933";
}
.icon-chat3:before {
  content: "\e934";
}
.icon-calculator:before {
  content: "\e935";
}
.icon-library2:before {
  content: "\e936";
}
.icon-auction:before {
  content: "\e937";
}
.icon-justice:before {
  content: "\e938";
}
.icon-profile2:before {
  content: "\e93a";
}
.icon-profile3:before {
  content: "\e93c";
}
.icon-profile4:before {
  content: "\e93d";
}
.icon-dollar:before {
  content: "\e93e";
}
.icon-dollar2:before {
  content: "\e93f";
}
.icon-pig:before {
  content: "\e940";
}
.icon-addressbook:before {
  content: "\e941";
}
.icon-addressbook2:before {
  content: "\e943";
}
.icon-envelope:before {
  content: "\e946";
}
.icon-envelope2:before {
  content: "\e948";
}
.icon-heart2:before {
  content: "\e949";
}
.icon-info2:before {
  content: "\e94a";
}
.icon-book:before {
  content: "\e94b";
}
.icon-badge:before {
  content: "\e94c";
}
.icon-ticket2:before {
  content: "\e94d";
}
.icon-ticket3:before {
  content: "\e94e";
}
.icon-ticket4:before {
  content: "\e94f";
}
.icon-alert:before {
  content: "\e950";
}
.icon-atom:before {
  content: "\e951";
}
.icon-eyedropper:before {
  content: "\e952";
}
.icon-globe:before {
  content: "\e954";
}
.icon-globe2:before {
  content: "\e955";
}
.icon-compass:before {
  content: "\e956";
}
.icon-lockedheart:before {
  content: "\e958";
}
.icon-usb:before {
  content: "\e959";
}
.icon-clipboard:before {
  content: "\e95a";
}
.icon-clipboard2:before {
  content: "\e95b";
}
.icon-clipboard3:before {
  content: "\e95c";
}
.icon-ruler:before {
  content: "\e95d";
}
.icon-filter_none:before {
  content: "\e91d";
}
.icon-times:before {
  content: "\e95e";
}
.icon-tick:before {
  content: "\e95f";
}
.icon-layers:before {
  content: "\e91e";
}
.icon-heart-fill:before {
  content: "\e960";
}
.icon-transfer:before {
  content: "\e961";
}
.icon-sun-stroke:before {
  content: "\e962";
}
.icon-moon-fill:before {
  content: "\e963";
}
.icon-home:before {
  content: "\e900";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-quill:before {
  content: "\e907";
}
.icon-image:before {
  content: "\e90d";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-books:before {
  content: "\e920";
}
.icon-library:before {
  content: "\e921";
}
.icon-ticket:before {
  content: "\e939";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-phone:before {
  content: "\e942";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-location:before {
  content: "\e947";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-cog:before {
  content: "\e994";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-warning1:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-flickr3:before {
  content: "\eaa5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-search:before {
  content: "\e986";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-profile:before {
  content: "\e923";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-calendar1:before {
  content: "\e964";
}
.icon-forward:before {
  content: "\e969";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-suitcase1:before {
  content: "\f0f2";
}
.icon-plus-square:before {
  content: "\f0fe";
}
.icon-snowflake-o:before {
  content: "\f2dc";
}
.icon-chevron-down:before {
  content: "\f078";
}
