// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }
@font-face {
  font-family: 'interstate-boldregular';
  src: url('/themes/custom/limestone/fonts/font_bureau_-_interstate-bold-webfont.woff2') format('woff2'),url('/themes/custom/limestone/fonts/font_bureau_-_interstate-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
.skip-link {
  &:focus {
    color: $primary-color;
    padding: 1rem;
  }
}
//styles to use when web fonts are loading
.wf-loading {
  visibility: hidden;
}
// styles to use when web fonts are active
.wf-active {
  visibility: visible;
}
// styles to use when web fonts are inactive
.wf-inactive {

}
.columns-2 {
  @include breakpoint(smedium) {
    column-count: 2;
  }
}
.columns-3 {
  @include breakpoint(smedium) {
    column-count: 2;
  }
  @include breakpoint(medium) {
    column-count: 3;
  }
}
.columns-4 {
  @include breakpoint(smedium) {
    column-count: 2;
  }
  @include breakpoint(medium) {
    column-count: 4;
  }
}
.max-300, .mw-300 {
  max-width: 300px;
}
.max-400, .mw-400 {
  max-width: 400px;
}
.max-500, .mw-500 {
  max-width: 500px;
}
.max-600, .mw-600 {
  max-width: 600px;
}
.max-800, .mw-800 {
  max-width: 800px;
}
.mh-600 {
  max-height: 600px;
}
.mh-800 {
  max-height: 800px;
}
.overflow-hidden {
  overflow: hidden;
}
//New Tab icon
.block-limestone-breadcrumbs,
.fibonacci-aside, .sidebar, .thirds-right, .large-4 {
  a[target=_blank]::after {
    content: "\ea7e";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.68rem;
    position: relative;
    left: 0.2rem;
    top: -1px;
  }
}


p {

}
.smaller {
  font-size: 80%;
  line-height: 1rem;
  &[class^="icon-"], &[class*=" icon-"] {
    font-size: 80%;
    line-height: 1rem;
  }
}

.fill {
  width: 100%;
  clear: both;
}

.with-overlay {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    background: rgba(17,17,17,0.2);
    top: 0;
    left: 0;
  }
}
.cover-image, .field-name-field-header-background-image {
  width: 100%;
  height: 100%;
  position: relative;

  article, .cover-image-inner {
    width: 100%;
    height: 100%;
  }
  img {
    object-fit: cover;
    font-family: 'object-fit: cover';
    margin-bottom: 0;
    width: 100%;
    height: 100%;
  }
  .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    &.bottom {
      bottom: 0;
    }
    &.top {
      bottom: auto;
      top: 0;
    }
    &.bg-yellow {
      background-color: rgba($limestone-yellow, 0.79);
    }
    &.bg-orange {
      background-color: rgba($orange, 0.79);
    }
  }
  // If used in Paragraph Equal Columns
  .bg-edge2edge, .field-items, .field-item, .field-item > div, .field-wrapper, .contextual-region, > div {
    height: 100%;
    width: 100%;
  }
}
.field-name-field-header-background-image {
  position: absolute;
  img {
    position: absolute;
  }
}

.v-centered-container {
  position: relative;
  background-size: cover;
  //height: 80vh;
  min-height: 300px;
  &.percent-80 {
    height: 80vh;
    max-height: 500px;
    @include breakpoint(medium) {
      max-height: none;
    }
  }
}
.v-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

}
.box-600 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}
.font-reg {
  font-weight: normal;
}
// .content used in paragraphs with backgrounds overlaid on colored full-width backgrounds.
.content {
  @extend .padding-sides-md;
}
.light-text {
  color: white;
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}
.background-blue, .bg-blue {
  background-color: $limestone-blue;
  width: 100%;
  color: white;
  &.bg-faded {
    background-color: rgba($limestone-blue, 0.7);
  }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: white;
  }
  a.button {

  }
  .separator-center::after {
    border-bottom-color: white;
  }
  table tbody {
    border: none;
    background-color: transparent;
    tr:nth-child(even) {
      background-color: scale-color($limestone-blue, $lightness: 10%);
    }
  }
  .h1 {
    @extend .color-yellow;
  }
  .h5 {
    @extend .color-yellow;
  }
  .h6 {
    @extend .color-twitter-blue;
  }
  &.shield-right {
    background-image: url("/themes/custom/limestone/images/lu-shield-inverted-transparent.png");
    background-position-y: 20%;
    background-position-x: 90%;
    background-repeat: no-repeat;
    background-size: 420px;
  }
}
.background-darkblue, .bg-darkblue {
  background-color: $dark-blue;
  width: 100%;
  color: white;
  a {
    color: white;
  }
  &.bg-faded {
    background-color: rgba($dark-blue, 0.7);
  }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: white;
  }
  .separator-center::after {
    border-bottom-color: white;
  }
}
.background-green, .bg-green {
  background-color: $success-color;
  width: 100%;
  &.bg-faded {
    background-color: rgba($success-color, 0.3);
  }
}
.bg-l-gray {
  background-color: $light-gray;
  width: 100%;
  &.bg-faded {
    background-color: rgba($light-gray, 0.7);
  }
  p.callout, blockquote.callout {
    background-color: transparent;
  }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: $header-color;
    > h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
      color: $header-color;
    }
  }
}
.bg-orange {
  background-color: $orange;
  width: 100%;
  &.bg-faded {
    background-color: rgba($orange, 0.7);
  }
  color: white;
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: white;
    > h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
      color: white;
    }
  }
}
.bg-yellow {
  background-color: $limestone-yellow;
  width: 100%;
  &.bg-faded {
    background-color: rgba($limestone-yellow, 0.75);
  }
  color: $limestone-blue-body;
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: $limestone-blue;
    > h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
      color: $limestone-blue;
    }
  }
}
.bg-white {
  background-color: white;
  width: 100%;
  &.bg-faded {
    background-color: rgba(white, 0.75);
  }

  color: $body-font-color;
  > h1, > h2, > h3, > h4, > h5, > h6 {
    color: $header-color;
  }
}
.color-yellow {
  color: $limestone-yellow;
}
.color-orange {
  color: $orange;
}
.color-twitter-blue {
  color: $twitter-blue;
}
.color-category {
  color: $category;
}
.color-blue {
  color: $limestone-blue;
}
.color-white {
  color: white;
}
.bold {
  font-weight: bold;
}
.spacing-xxs {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.spacing-top-xxs {
  padding-top: 1rem;
}
.spacing-bottom-xxs {
  padding-bottom: 1rem;
}
.spacing-xs {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.spacing-top-xs {
  padding-top: 2rem;
}
.spacing-bottom-xs {
  padding-bottom: 2rem;
}
.space-bottom-xs {
  margin-bottom: 2rem;
}
.space-xs {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.spacing-top-sm {
  padding-top: 4rem;
}
.spacing-sm {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.space-sm {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.spacing-bottom-sm {
  padding-bottom: 4rem;
}
.spacing-med, .spacing-md {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.space-med, .space-md {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.spacing-bottom-med, .spacing-bottom-md {
  padding-bottom: 6rem;
}
.spacing-lg {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.spacing-bottom-lg {
  padding-bottom: 8rem;
}
.spacing-xl {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.spacing-top-xl {
  padding-top: 10rem;
}
.spacing-bottom-xl {
  padding-bottom: 10rem;
}
.padding-sides-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  @include breakpoint(smedium) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.padding-right-sm {
  padding-right: inherit;
  @include breakpoint(smedium) {
    padding-right: 2rem;
  }
}
.padding-sides-md {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  @include breakpoint(smedium) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include breakpoint(medium) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.height-90 {
  height: 90vh;
}

.separator-center::after {
  margin: 0.5rem auto 0.5rem;
}

.stripes-dark-tile {
  &:before {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    content: "";
    opacity: 0.5;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))) 0 0 no-repeat;
  }
  &:after {
    position: absolute;
    z-index: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    content: "";
    background: url("/themes/custom/limestone/images/stripes-dark-tile.svg");
    opacity: 0.4;
  }
}

a.to-top {
  position: fixed;
  bottom: 0.5em;
  right: 1.5em;
  z-index: 101;
  color: $limestone-blue;
  font-size: 20px;
  text-decoration: none;
  transform: rotate(-180deg);
  display: none;
  &:hover, &:focus {
    color: $limestone-yellow;
    text-decoration: none;
    &::after {
      background: $limestone-blue;
    }
  }
  span {
    position: relative;
    top: 8px;
    right: 8px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    width: 35px;
    height: 35px;
    z-index: -1;
    background: $limestone-yellow;
    border-radius: 50%
  }
}
.half-circle-top,
.half-circle-bottom {
  height: 10px;
  width: 25px;
  background-color: $dark-gray;
}
.half-circle-top {
  border-top-left-radius: 10px * 2;
  border-top-right-radius: 10px * 2;
}
.field-label-inline {
  .field-label, .field-items, .field-item {
    display: inline;
  }
}
.field-label {
  font-weight: 700;
  font-family: $header-font-family;
  font-size: 1.1rem;
}
.field-inline {
  display: inline;
  .field-items {
    display: inline;
    .field-item {
      display: inline;
      p {
        display: inline;
      }
    }
  }
}

.d-none {
  display: none !important;
}
.dec-none {
  text-decoration: none !important;
}
