// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
// h1, h2, h3,
// h4, h5, h6 {}

// Anchors
//-----------------------------------------------------------------------------
// a {}


a {
  text-decoration: underline;
  color: $link-color;
  &:focus, &:hover {
    transition: 200ms;
    color: $limestone-blue-body;
  }
}

.center, .align-center {
  text-align: center;
}

.centered, a.centered {
  display:block;
  margin-left: auto;
  margin-right: auto;
}


img {
  margin-bottom: $mediaobject-margin-bottom;
}
figure figcaption {
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 1rem;
  text-align: center;
}
.hide-caption {
  figure figcaption {
    display: none;
  }
}

// Service Area listing
.field-name-field-service-area {
  .field-item {
    display: inline;
    &:after {
      content: ", ";
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}



// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

// select {}


// From Varbase theme
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.video-embed-field-responsive-video iframe, .embed-responsive iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

table {
  &.transparent {
    tbody, tbody tr, tbody th {
      border: 0px solid #f1f1f1;
      background-color: transparent;
    }
  }
}

.shadowed-png img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.button {
  &.success {
    color: white;
    &:focus, &:hover {
      color: white;
    }
  }
}

.file--application-pdf {
  a {
    &:before {
      content: "";
      background: url(/themes/custom/limestone/images/icons/icon-pdf.svg) no-repeat;
      background-size: 25px;
      width: 27px;
      height: 31px;
      display: inline-block;
      position: relative;
      top: 9px;
      margin-right: 3px;
    }
  }
}


// Exposed Filters
.bef-exposed-form {
  .form-item {
    //float: left;
  }
  label {
    font-family: "mr-eaves-xl-modern-narrow",sans-serif;
  }
}

.js-form-item-field-course-discipline-target-id {
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  width: 320px;
  float: left;
  position: relative;
  z-index: 2;
label {
    @include breakpoint(smedium) {
      font-size: 1.25rem;
    }
    @include breakpoint(medium) {
      font-size: 1.35rem;
    }
    @include breakpoint(large) {
      font-size: 1.5rem;
    }
  }
}

.js-form-type-checkbox {
  position: relative;
  font-family: $header-font-family;
  line-height: 1rem;
  label {
      font-size: 1.05rem;
  }
  input {
    position: relative;
    top: 18px;
    -webkit-appearance: none;
    width: 14px;
    height: 15px;
    background: white;
    border-radius: 5px;
    border: 2px solid $almost-black;
    &:checked {
      background: $almost-black;
    }
    +label {
      margin-left: 0.2rem;
      margin-right: 1.5rem;
    }
  }
}
.webform-element-description {
  font-family: initial;
  font-size: initial;
}
//chosen select box
.chosen-container {
  font-size: 1rem;
  line-height: 1rem;
  height: 2rem;
  .chosen-single {
    box-shadow: none;
    height: 2rem;
    line-height: 2rem;
    div b {
      background: none;
    }
  }
  .chosen-results {
    li {
      padding: 7px 6px 2px;
      line-height: 1rem;
    }
  }
  .chosen-container-active {
    .chosen-single {
      border: 1.5px solid $primary-color;
    }
  }
  &::after {
    content: "\f078";
    position: absolute;
    font-size: 1rem;
    top: 23%;
    right: 9px;
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

//Search Form
.search-bar {
  form {
    width: 100%;
    display: block;
    .js-form-item-search-api-fulltext {
      width: calc(100% - 80px);
      display: inline-block;
      input.form-text {
        width: 100%;
        padding: 7px 0 0 15px;
        height: 50px;
        line-height: 50px;
        border: none;
        font-size: 17px;
        font-weight: 400;
        outline: 0;
        background-color: #F5F5F5;
      }
    }
    .form-actions {
      display: inline-block;
      position: relative;
      top: 8px;
      left: -5px;
    }
    .js-form-submit.button {
      font-size: 17px;
      background-color: $limestone-blue;
      &:focus, &:hover {
        background-color: darken($limestone-blue, .6);
      }
    }
  }

}
