// Non-modular or client styles for .l-footer region.
footer.site-footer {
  background-color: $limestone-blue;
  //background-image: url("/themes/custom/limestone/images/footer-background.png");
  //background-size: cover;
  color: $light-gray;
  padding-top: 2rem;
  h2, h3, h4, h5, h6 {
    color: white;
  }
  h2 {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    margin-bottom: 7px;
    &::after {
      height: 3px;
    }
  }
  a {
    color: white;
    &:hover, &:focus {
      color: $limestone-yellow;
      text-decoration: underline;
    }
  }
  ul {
    margin-left: 0.25rem;
  }
  li {
    list-style-type: none;
    &:before {
      content: "\f078";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 8px;
      opacity: 0.5;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      position: relative;
      bottom: 0px;
      left: -1px;
    }
  }
  .footer-social-icons {
    padding-left: 0.5rem;
    a {
      color: white;
      padding: 0 0.5rem;
      text-decoration: none;
      &:hover, &:focus {
        svg {
          color: $limestone-yellow !important;
        }
      }
    }
  }
}

.bottom-bar {
  background-color: $black;
  font-family: $site-header-font-family;
  color: $white;
  a {
    color: $white;
    padding: 0 0.4rem;
    &:focus, &:hover {
      color: $limestone-yellow;
      text-decoration: underline;
    }
    [class^="icon-"], [class*=" icon-"] {
      font-size: 12px;
    }
  }
}

.lower-footer-region {
  img {
    max-width: 175px;
    margin-bottom: 0;
  }
  figcaption {
    font-size: 1.2rem;
    padding-top: 0.2rem;
    margin: 0;
    color: $limestone-blue;
  }
}
