// Non-modular or client styles for .l-header region.
header.site-header {
  background-color: $limestone-blue;
  font-family: $header-font-family;
  font-weight: bold;
  $header-font-size: 1.2rem;
  font-size: $header-font-size;
  .block-limestone-branding {
    max-width: 240px;
    width: 100%;
    @include breakpoint(smedium) {
      max-width: 344px;
      width: 100%;
    }
  }
  .site-header-meta-links {
    position: relative;
    margin-right: 0;
    .button.search-button {
      padding: 0.55rem 0.1rem;
      span {
        border-radius: 50%;
        border: 2px solid white;
        padding: 0.5em;
        font-size: 1rem;
      }
    }
    .align-right {
      position: relative;
      top: 9px;
    }
    @include breakpoint(smedium) {
      .align-right {
        top: 17px;
      }
    }
  }
  /*
  .dropdown.menu {
    a {
      padding: 0.7rem 0.5rem;
    }
    > li.is-dropdown-submenu-parent > a::after {
      margin-top: 14px;
      right: 44%;
    }
    .is-dropdown-submenu.first-sub {
      margin-top: 0;
      z-index: 4;
      right: auto;
      left: 0;
      font-size: 1rem;
      a {
        width: 100%;
        padding: 0.5rem;
      }
    }
  }
 */
  a, button {
    color: white !important;
    span {
      font-size: 0.8rem;
    }
    &:focus, &:hover {
      color: $limestone-yellow !important;
    }
    &.quicklink-button {
      width: 134px;
      color: transparent !important;
      font-size: 19px;
      line-height: 18px;
      text-align: left;
      font-weight: bold;
      position: relative;
      left: auto;
      height: 50px;
      background: url(/themes/custom/limestone/images/lc-sprite.svg) no-repeat -498px -257px;
      background-size: 757px;
      margin-right: -80px;
      &:before {
        content: "\e9cb";
        position: absolute;
        color: $limestone-blue !important;
        top: 12px;
        left: 15px;
        font-family: "icomoon" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 1.3rem;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      span {
        transform: rotate(-90deg);
        display: inline-block;
        float: right;
        margin-top: 3px;
        padding: 0;
        bottom: 0;
        font-size: 0.8rem;
        line-height: 0.7rem;
      }
      @include breakpoint(smedium) {
        margin-right: 0;
        color: $limestone-blue !important;
        background: url(/themes/custom/limestone/images/lc-sprite.svg) no-repeat -370px -184px;
        background-size: 562px;
        width: 134px;
        height: 44px;
        &:before {
          display: none;
        }
        &:focus, &:hover {
          color: $limestone-blue !important;
          span {
            right: -4px;
            position: relative;
            transition: 300ms;
          }
        }
      }
    }
  }
  ul.menu {
    margin-top: 1rem;
  }
  button {
    font-size: 1rem;
    margin: 0;
    padding: 0.55rem 0.7rem;
    position: relative;
  }
}
.block-system-branding-block img {
  max-width: 344px;
  width: 100%;
  margin: 5px 0;
}
.sub-page-header, .paragraph--type--sub-header-title {
  clear: both;
  position: relative;
  background-image: url("/themes/custom/limestone/images/pano-front-quad.jpg");
  background-size: cover;
  background-position: 0px 49%;
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 80px;
    height: 100%;
    width: 100%;
    content: "";
    opacity: 0.4;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))) 0 0 no-repeat;
  }
  &:after {
    position: absolute;
    z-index: 1;
    bottom: 0;
    max-height: 80px;
    height: 100%;
    width: 100%;
    content: "";
    background: url("/themes/custom/limestone/images/stripes-dark-tile.svg");
    opacity: 0.08;
  }
  .contextual-region {
    position: static;
  }
}
.sub-header-title {
  font-size: 1.2em;
  line-height: 2em;
  font-family: $site-header-font-family;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0 auto;
  letter-spacing: -0.02em;
  color: white;
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 0.6rem 0 0.6rem 0;

  @include breakpoint(medium) {
    font-size: 2.5em;
    line-height: 3.7rem;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    padding-right: .85227rem;
    padding-left: .85227rem;

    &::after {
      content: "";
      position: absolute;
      background: url("/themes/custom/limestone/images/lc-sprite.svg") no-repeat -467px -396px;
      background-size: 708px !important;
      width: 155px;
      height: 14px;
      top: auto;
      bottom: 2.25rem;
      left: 1rem;
    }
  }

  @include breakpoint(large) {
    font-size: 3em;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
.field-header-background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  img {
    object-fit: cover;
    font-family: 'object-fit: cover';
    margin-bottom: 0;
    width: 100%;
    height: 100%;
  }
}
.vertical-center {
  position: relative;
  height: 100%;
  > div:first-child {
    @include vertical-center;
  }
}
.splash-header, .paragraph--type--splash-header {
  height: 100%;
  position: relative;
  z-index: 0;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  min-height: 300px;
  &.splash-header-half {
    height: 40vh;
  }
}
.splash-header-title {
  color: white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  text-shadow: rgba(0,0,0,0.8) 6px 6px 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
  @include breakpoint(medium) {
    font-size: 3rem;
  }
  @include breakpoint(large) {
    font-size: 4rem;
  }
}
body.section-trip {
  .splash-header-title {
    top: 38%;
  }
}
.splash-header-subtitle {
  color: white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  text-shadow: rgba(0,0,0,0.8) 6px 6px 7px;
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 120%;
  @include breakpoint(medium) {
    font-size: 240%;
  }
  @include breakpoint(large) {
    font-size: 320%;
  }
}
.splash-mega-title {
  @extend .mega-title;
  h1 {
    @extend .mega-title;
  }
}
.big-title {
  font-family: $site-header-font-family;
  @media screen and (min-width: 40em) {
    font-size: 3.8rem;
  }
}
.paragraph-section-title {
  font-family: $site-header-font-family;
  font-weight: $site-header-font-weight;
  @media screen and (min-width: 40em) {
    font-size: 4rem;
  }
}
.mega-title {
  font-family: $header-font-family;
  font-weight: bold;
  text-transform: uppercase;
  @include breakpoint(small) {
    font-size: 4rem;
    line-height: 4rem;
  }
  @include breakpoint(medium) {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
  @include breakpoint(large) {
    font-size: 7rem;
    line-height: 7rem;
  }
  &.color-white {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  }
}

.embedded-entity.align-center {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 0px 111.11111rem rgba(0, 0, 0, 0.4);
}
.fullscreen-bg {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    //margin-top: 12rem;
    margin-bottom: 1rem;
    p:last-child {
      margin-bottom: 0;
    }
    @include breakpoint(large) {
      //margin-top: 17rem;
    }
  }
}
.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  width: auto;
  height: 100%;
  z-index: -100;
  @include breakpoint(xlarge) {
    top: 0%;
    width: 100%;
    height: auto;
  }
  @include breakpoint(xxlarge) {
    top: -15%;
  }
}




.lc-header,
.viewsreference--view-title,
.block-title:not(#-menu),
.lc-header-field .field-label,
form#views-exposed-form-news-latest-news-block .form-item-search label {
  clear: left;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-family: $header-font-family;
  line-height: 2rem;
  color: $limestone-blue;
  overflow-x: hidden;
  @include breakpoint(smedium) {
    font-size: 1.25rem;
  }
  @include breakpoint(medium) {
    font-size: 1.45rem;
  }
  @include breakpoint(large) {
    font-size: 1.7rem;
  }

  a {
    text-decoration: none;
    &:focus, &:hover {
      text-decoration: underline;
    }
  }
  img {
    max-width: 30px;
    position: relative;
    top: -6px;
  }
  &:before, &:after {
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    content: "";
    height: 7px;
  }

  &:before {
    width: 7rem;
    background-color: $limestone-yellow;
    transform: skewX(-35deg) skewY(0);
    -ms-transform: skewX(-35deg) skewY(0);
    transform: skew(-35deg,0);
    left: 5px;
    margin-left: -10px;
  }

  &:after {
    //width: 1rem;
    //-webkit-transform: skewX(-35deg) skewY(0);
    //-o-transform: skewX(-35deg) skewY(0);
    //transform: skewX(-35deg) skewY(0);
    //-webkit-transform: skew(-35deg, 0);
    //-ms-transform: skewX(-35deg) skewY(0);
    //transform: skew(-35deg, 0);
    //left: 127px;
    //background-color: #fff;
    //bottom: 0px;
    //height: 8px;
  }
}







.lc-news-header {
  height: 110px;
  background-color: #f4efcf;
  position: relative;
  &::before {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    content: "";
    background: url("/themes/custom/limestone/images/stripes-dark-tile.svg");
    opacity: 0.2;
  }
  #lc-news-header {
    position: relative;
    border-bottom: 1px solid $light-gray;
    height: 95px;
    margin-bottom: 1em;

    h1, span.lc-news-title {
      display: block;
      height: 69px;
      width: 330px;
      text-indent: -99999px;
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 25px;
      overflow: hidden;
      background: url(/themes/custom/limestone/images/lc-news.png) 0 0 no-repeat;
      background-size: 327px;
      float: left;
    }
  }
}



.bar-header {
  color: white;
  background: $limestone-blue;
  text-transform: uppercase;
  padding: 15px;
  margin: 1rem 0;
  &.gray {
    background: $light-gray;
  }
}

.bar-header-groupings {
  .view-content > div {
    float: left;
    width: 100%;
  }
  .view-content h3 {
    color: white;
    background: $limestone-blue;
    text-transform: uppercase;
    padding: 15px;
    font-weight: 100;
    margin: 3rem 0;
    clear: both;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.hide-header-groupings {
  .view-content > h3 {
    display: none;
  }
}