// Non-modular or client styles for the .l-content region.
.thirds {

}

.hide-for-medium {
  @include hide-for(medium);
}
.hide-for-lcmedium {
  @include hide-for(lcmedium);
}
.show-for-all {
  display: block !important;
}
article.node--type-news {
  //@extend .grid-container;
}
.fibonacci-aside.small-5 {
  @include breakpoint(medium) {
    @include xy-cell(5 of 13);
  }
}
.addtoany_list {
  display: inline-block;
  margin: 0 0 2rem;
}
.bs-region .row {
  @extend .grid-container;
}
.bs-2col-stacked {
  //@extend .grid-container;
  //@extend .grid-x;
}
.bs-2col-stacked .bs-region--left {
  @include xy-cell(6 of 12);
}
.bs-2col-stacked .bs-region--right {
  @include xy-cell(6 of 12);
}
.col-sm-1 {
  @include xy-cell(1 of 12);
}
.col-sm-2 {
  @include xy-cell(2 of 12);
}
.col-sm-3 {
  @include xy-cell(3 of 12);
}
.col-sm-4 {
  @include xy-cell(4 of 12);
}
.col-sm-5 {
  @include xy-cell(5 of 12);
}
.col-sm-6 {
  @include xy-cell(6 of 12);
}
.col-sm-7 {
  @include xy-cell(7 of 12);
}
.col-sm-8 {
  @include xy-cell(8 of 12);
}
.col-sm-9 {
  @include xy-cell(9 of 12);
}
.col-sm-10 {
  @include xy-cell(10 of 12);
}
.col-sm-11 {
  @include xy-cell(11 of 12);
}
.col-sm-12 {
  @include xy-cell(12 of 12);
}


.col-md-1 {
  @include xy-cell(1 of 12);
}
.col-md-2 {
  @include xy-cell(2 of 12);
}
.col-md-3 {
  @include xy-cell(3 of 12);
}
.col-md-4 {
  @include xy-cell(4 of 12);
}
.col-md-5 {
  @include xy-cell(5 of 12);
}
.col-md-6 {
  @include xy-cell(6 of 12);
}
.col-md-7 {
  @include xy-cell(7 of 12);
}
.col-md-8 {
  @include xy-cell(8 of 12);
}
.col-md-9 {
  @include xy-cell(9 of 12);
}
.col-md-10 {
  @include xy-cell(10 of 12);
}
.col-md-11 {
  @include xy-cell(11 of 12);
}
.col-md-12 {
  @include xy-cell(12 of 12);
}

.small-12.grid-x.grid-margin-x, .medium-10.medium-offset-1, .medium-6.medium-offset-3.smedium-10.smedium-offset-1.grid-x {
  margin: auto;
}

.grid-x>.small-12 {
  margin: auto;
}

.show-first-item-only {
  > .field-items > .field-item {
    display: none;
    &:first-child {
      display: block;
    }
  }
}
.bg-edge2edge {
  width: 100%;
}
.max-1000 {
  max-width: 1000px;
}
.use-margin-x > div > .grid-x, .use-margin-x > div.grid-container > div > .grid-x {
  @extend .grid-margin-x;
  margin: auto;
}
.content-container {
  > div {
    @extend .grid-container;
    display: inherit;
  }
}

.smaller-gutters {
  @include grid-column-gutter(10px);
}

// To force a Drupal Block Component to fill width
.fill-block {
  .field-type-block-field {
    width: 100%;
    height: 100%;
    clear: both;
  }
}

.field-paragraph--bp-view {
  @extend .fill;
}
.pull-left-negative-5 {
  @include breakpoint(large) {
    margin-left: -5rem;
  }
}
.pull-right-negative-5 {
  @include breakpoint(large) {
    margin-right: -5rem;
  }
}

.md-order-1 {
  @include breakpoint(smedium) {
    order: 1;
  }
}
.md-order-2 {
  @include breakpoint(smedium) {
    order: 2;
  }
}

.bumpup-md-9 {
  position: relative;
  @include breakpoint(smedium) {
    top: -9rem;
    margin-bottom: -9rem;
  }
}
.content-bump-up, .bumpup-xl-5 { //remove .content-bump-up
  position: relative;
  @include breakpoint(xlarge) {
    top: -5rem;
    margin-bottom: -5rem;
  }
}
.content-cut-bottom {
  position: relative;
  //z-index: -1;
  bottom: -5rem;
  margin-top: -5rem;
}
.medium-order-4 {
  @include breakpoint(medium) {
    order: 4;
  }
}
.large-order-initial {
  @include breakpoint(large) {
    order: initial;
  }
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mt-n1 {
  margin-top: -1rem;
}
.mt-n2 {
  margin-top: -2rem;
}
.mt-n3 {
  margin-top: -3rem;
}
.mt-n4 {
  margin-top: -4rem;
}
.mt-n5 {
  margin-top: -5rem;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mb-n1 {
  margin-bottom: -1rem;
}
.mb-n2 {
  margin-bottom: -2rem;
}
.mb-n3 {
  margin-bottom: -3rem;
}
.mb-n4 {
  margin-bottom: -4rem;
}
.mb-n5 {
  margin-bottom: -5rem;
}

.mr-n1 {
  margin-right: -1rem;
}
.mr-n2 {
  margin-right: -2rem;
}
.mr-n3 {
  margin-right: -3rem;
}
.mr-n4 {
  margin-right: -4rem;
}
.mr-n5 {
  margin-right: -5rem;
}
.ml-n1 {
  margin-left: -1rem;
}
.ml-n2 {
  margin-left: -2rem;
}
.ml-n3 {
  margin-left: -3rem;
}
.ml-n4 {
  margin-left: -4rem;
}
.ml-n5 {
  margin-left: -5rem;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-n1 {
  margin-top: -1rem;
  margin-bottom: -1rem;
}
.my-n2 {
  margin-top: -2rem;
  margin-bottom: -2rem;
}
.my-n3 {
  margin-top: -3rem;
  margin-bottom: -3rem;
}
.my-n4 {
  margin-top: -4rem;
  margin-bottom: -4rem;
}
.my-n5 {
  margin-top: -5rem;
  margin-bottom: -5rem;
}
