// Non-modular or client styles for the .l-content region.

.caps {
  text-transform: uppercase;
}

main {
  @include breakpoint(smedium) {
    font-size: 1.15rem;
    line-height: 2rem;
    p {
      line-height: 1.8rem;
    }
  }
}
