.top-bar, .top-bar ul.menu {
  background-color: $black !important;
  font-family: $site-header-font-family;
  font-weight: normal;
  padding: 0;
  font-size: 0.8rem;
  z-index: 10;
  h2 {
    color: white;
  }
  a.is-submenu-item {
    padding: 0.7rem 1rem;
  }
  a {
    color: $white;
    &:focus, &:hover {
      color: $limestone-yellow;
      &::before {
        color: $limestone-yellow;
      }
    }
  }
}
.top-bar ul.dropdown.menu > li:first-child {
  a {
    padding-left: 0;
  }
}
.top-bar ul.dropdown.menu, .top-bar ul {
  background-color: $black !important;
  li.is-active > a {
    color: $limestone-yellow;
  }
}



@include breakpoint(smedium down) {
  .top-bar, .bottom-bar {
    font-size: 17px; //for small screens
  }
}
