ul.styled-list,
div.styled-list {
  margin: 0;
  padding: 0;
}
ul.styled-list li,
div.styled-list li,
ul.styled-list div.field--item,
div.styled-list div.field--item {
  list-style-type: none;
  margin: 0;
  border-bottom: solid 1px #f5f5f6;
  padding: 15px 5px;
  font-size: 1.5em;
}
ul.styled-list-small {
  margin: 0;
  padding: 0;
}
ul.styled-list-small li,
ul.styled-list-small div.field--item {
  font-size: 1em;
  padding: 7px 2px;
  list-style-type: none;
  margin-left: 7px;
}
ul.styled-list-small li.col-md-6 {
  margin-left: 0;
}
ul.styled-list-xs {
  margin: 0;
  padding: 0;
}
ul.styled-list-xs li,
ul.styled-list-xs div.field--item {
  font-size: 1.5rem;
  padding: 2px 2px;
  list-style-type: none;
  margin-left: 4px;
}
.description {
  font-size: 16px;
  color: #555555;
}
h1 {
  color: #0038a5;
}
h2.block-title {
  font-size: 23px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}
ul.styled-list-small .pdf-profile-row {
  border-bottom: thin dashed #000;
}
ul.styled-list-small .pdf-profile-row .field,
ul.styled-list-small .pdf-profile-row .field.field--name-field-job-title {
  padding: 0 0 10px 0;
  margin: 0 0 -5px 0;
  background-color: white;
}
ul.styled-list-small .pdf-profile-row span span span {
  padding: 0 0 5px 0;
  background-color: white;
  margin: 0 0 -5px 0;
}
ul.styled-list-small .pdf-profile-row span span span:before {
  content: "(";
  margin-right: -3px;
}
ul.styled-list-small .pdf-profile-row span span span:after {
  content: ")";
}
ul.styled-list-small .field--name-field-degrees-and-schools {
  font-size: 16px !important;
  color: #555555;
}
