.logo img {
  width: 300px;
}
.logo {
  width: 300px;
}
.header-wrapper {
  background-color: #0038a5;
}
.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffe865;
}
.navbar-default .navbar-nav > .active > a {
  color: #ffe865 !important;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffe865 !important;
}
.sub_menu {
  padding-bottom: 2rem;
}
.sub_menu .caret {
  top: 47%;
  position: absolute;
  right: 1px;
}
.region-sub-menu {
  background-color: #f4f5f7;
}
.region-sub-menu ul.menu.navbar-nav > li {
  text-transform: uppercase;
}
.region-sub-menu ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}
.bar-header {
  color: white;
  background: #0038a5;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 100;
  margin: 3rem 0;
}
.bar-header.no-margin-bottom {
  margin-bottom: 0;
}
.bar-header.gray {
  background: #8e8e8ec9;
}
.bar-header-groupings .view-content > div {
  float: left;
  width: 100%;
}
.bar-header-groupings .view-content h3 {
  color: white;
  background: #0038a5;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 100;
  margin: 3rem 0;
  clear: both;
}
.bar-header-groupings .view-content h3 a {
  color: white;
  text-decoration: none;
}
.hide-header-groupings .view-content > h3 {
  display: none;
}
ul.menu--site-version > .active > a {
  background-color: transparent !important;
}
.view-header h1 + #block-customprintblock {
  position: relative;
  right: 0;
  top: 15px;
}
.view-header #block-customprintblock {
  float: right;
  padding-right: 15px;
  display: none;
}
@media screen and (min-width: 768px) {
  .view-header #block-customprintblock {
    display: block;
  }
}
.view-header #block-customprintblock .block-title {
  font-size: 0px;
  position: absolute;
  left: 999999999em;
}
.view-programs.view-id-programs input[type="radio"],
.view-programs.view-id-programs input[type="checkbox"] {
  margin-right: 5px;
}
.view-programs.view-id-programs .view-filters {
  margin-top: 15px;
}
